@media screen and (max-width: 1000px) {
    .img_box{
        margin-top: 50px;
    }
}
body {
     background: url("../img/login.png") no-repeat;
    background-size:cover;
}

.img{
    width:250px;
    height: 100px;
}
.img_box{
    margin-top: 10%;
}
.login_modal{
    width:450px;
    height:320px;
    border: 1px solid #cccccc;
    margin:0 auto;
    border-radius: 20px;
    box-shadow:#1c1a1a 0 3px 8px;
    /*margin-top: 200px;*/
    background-color: #FCFBF7;
    padding:30px 50px 0 50px;
}
.login_modal>input{
    border:0;
    margin: 35px 0 0 10px;
    font-size: 18px;
}
hr{
    margin-top: -10px !important;
}
label{
    font-size: 17px;
    font-weight: 500;
}
.login_modal>button{
    margin-top: 40px;
    height: 45px;
}
.msg{
    margin-top: 10px;
    color: red;
}
