/*header*/
.header {
    position: absolute;
    top:0;
    left:14%;
    width: 86%;
    height: 60px;
    background-color: #2D414F;
    border-left:1px #000 solid;
}
.header > img {
    width:50px;
    height: 50px;
    position: absolute;
    top:5px;
    right:200px;

}
.header>div{
    position: absolute;
    top:-5px;
    right:120px;
    color:#fff;
}
.header > span {
    float: right;
    margin: 20px 10px 0 0;
    color:#fff;
}

.header > span > a {
    color:#fff;
}


/*nav*/
hr{
    border-top:1px #d3d3d3 solid;
    margin-top: -3px;
}
.nav {
    width: 14%;
    height: 800px;
    background-color:#2D414F;
    position: absolute;
    top:0;
    left: 0;
}
.nav>div>img{
    width:200px;
    height:100px;

}
.nav>div>span{
    width:70px;
    height:70px;

}
.list-group{
    list-style:none;
}
.list-group>li{
     line-height: 55px;
     padding-left: 20px;
    width:100%;
 }
.list-group>li>ul{
    list-style:none;
    display:none
}
.list-group>li>ul>li{
    line-height: 45px;
    padding-left: 5px;
    width:100%;
    color:#fff;
    font-size: 15px;
}
.list-group>li:hover{
    background-color:#253847;
    transition: 0.5s;
    cursor: pointer;
}
.list-group>li>span{
    font-size: 16px;
    color:#869fb1;
}
.list-group>li>div{
    width:2%;
    height:55px;
    background-color:#3cb371;
    float:left;
    margin-left: -20px;
    display: none;
}
.list-group>li>ul>li>div{
    width:2%;
    height:35px;
    background-color:#3cb371;
    float:left;
    margin-left: -20px;
    display: none;
}
.list-group>li>a{
    font-size: 16px;
    color:#fff;
    text-decoration: none;
    margin-left: 8px;
}

/*content*/
.content{
    position: absolute;
    top:60px;
    left:14%;
    overflow:scroll;
    width:86%;
    height:600px;
}