/*header*/
p, ul {
    margin: 0;
    padding: 0;
}

.header {
    width: 33.3%;
    height: 70px;
    background-color: #181e2c;
    float: left;
}

.header > img {
    width: 200px;
    height: 90px;
    margin: -10px 0 0 20px;
    float: left;
}

.header > p {
    float: left;
    margin-top: 40px;
    color: #D0D5DA;
    font-size: 18px;
    font-family: "Microsoft YaHei";
}

.header > span {
    color: #fff;
    width: 100px;
    padding: 27px;
    line-height: 70px;
    text-align: center;
}

.header > span:hover {
    background-color: #3f4961;
    cursor: pointer;
}

/*nav*/

/*.font1 {*/
/*line-height: 60px;*/
/*width: 100px;*/
/*float: left;*/
/*color: #fff;*/
/*}*/

/*.font1:hover {*/
/*background-color: #3F4961;*/
/*}*/

/*.font2 {*/
/*line-height: 60px;*/
/*width: 100px;*/
/*float: left;*/
/*color: #fff;*/
/*}*/

/*.font2:hover {*/
/*background-color: #3F4961;*/
/*}*/

/*.off_tray {*/
/*line-height: 60px;*/
/*width: 60px;*/
/*float: left;*/
/*}*/

/*.off_tray > i {*/
/*font-size: 22px;*/
/*color: #fff;*/
/*}*/

/*.off_tray:hover {*/
/*background-color: #3F4961;*/
/*}*/

/*nav*/
.nav_yc {
    width: 18%;
    height: 1000px;
    background-color: #32323a;
    float: left;
}

.info {
    background-color: #181e2c;
}

#cycle {
    width: 120px;
    height: 120px;
    display: block;
    margin: -120px auto;
}

#face {
    width: 110px;
    height: 110px;
    margin: 5px auto;
    display: block;
}

.img_frame {
    width: 120px;
    height: 120px;
    margin: -80px auto;
    position: relative;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;

}

.icon_3 > i {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    position: relative;
    top: 10px;
    left: 0px;
}

.icon_3 > span {
    margin: -35px 0 0 -5px;
    position: relative;
    top: 10px;
    left: -10px;
}

.icon_3 > span:nth-child(2) {
    background-color: #FCB322;
}

.icon_3 > span:nth-child(4) {
    background-color: #F86B4F;
}

.icon_3 > span:nth-child(6) {
    background-color: #A9D86E;
}

.info > p {
    color: #cccccc;
    font-size: 20px;
    background-color: #181E2C;
    line-height: 35px;
}

.warn {
    width: 80px;
    background-color: green;
    border-radius: 5px;
    color: #fff;
    margin: -30px 0 0 170px;
}

.warn:hover {
    cursor: pointer;
}

.function_menu {
    list-style: none;
}

.open_menu {
    width: 100%;
    line-height: 55px;
}

.open_menu:hover {
    background-color: #e44d4d;
    transition: 0.5s;
}

.open_menu > div {
    width: 2%;
    height: 56px;
    background-color: #fe5722;
    float: left;
    display: none;
}

.open_menu:hover div {
    display: inline;
}

.open_menu > a {
    font-size: 18px;
    font-family: Microsoft YaHei;
    color: #95a0aa;
    text-decoration: none;
    margin-left: 20%;
}

.menu_child {
    display: none;
    list-style: none;
}

.menu_child > li {
    line-height: 40px;
}

.menu_child > li > div {
    width: 2%;
    height: 40px;
    background-color: #3cb371;
    float: left;
    margin-left: 50px;
    display: none !important;
}

.menu_child > li:hover div {
    display: inline !important;
}

.menu_child > li > a {
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #95a0aa;
    text-decoration: none;
    margin-left: 30%;
}

.menu_child > li:hover a {
    margin-left: 25px
}


/*.menu_parents:hover {*/
/*background: #1fb5ad 10px 0;*/
/*transition: 0.5s;*/
/*cursor: pointer;*/
/*}*/

/*.menu_parents:hover a {*/
/*color: #fff;*/
/*}*/

/*.menu_parents > a {*/
/*font-size: 20px;*/
/*font-family: Microsoft YaHei;*/
/*color: #95a0aa;*/
/*text-decoration: none;*/
/*margin-left: 40px;*/
/*}*/

/*.out_lie {*/
/*width: 2%;*/
/*height: 58px;*/
/*background-color: #fe5722;*/
/*float: left;*/
/*display: none;*/
/*}*/

/*.menu_parents:hover .out_lie {*/
/*display: inline;*/
/*}*/

/*.list-group > li > ul {*/
/*list-style: none;*/
/*display: none;*/
/*margin-left: -1px;*/
/*}*/

/*.list-group > li > ul > li {*/
/*line-height: 45px;*/
/*padding-left: 5px;*/
/*width: 100%;*/
/*color: #fff;*/
/*font-size: 15px;*/
/*}*/

/*.in_lie {*/
/*width: 2%;*/
/*height: 45px;*/
/*background-color: #3cb371;*/
/*float: left;*/
/*margin-left: -20px;*/
/*display: none;*/
/*}*/

/*.list-group > li > ul > li:hover .in_lie {*/
/*display: inline;*/
/*}*/

/*.icon_self {*/
/*margin-left: 50px;*/
/*color: #95a0aa;*/
/*}*/

/*content*/
.content {
    width: 82%;
    height: 950px;
    float: left;
    overflow: scroll;
}

.footer {
    width: 82%;
    height: 50px;
    float: left;
    background-color: #181e2c;
    color: #fff;
}

.footer > i {
    text-align: center;
    padding: 18px;
    margin-top: -3px;
}

.footer > i:hover {
    background-color: #3f4961;
    cursor: pointer;
}