.shop_index{
    background-color: #fff;
}
.shop_index:nth-child(1) {
    width: 70%;
    height: 300px;
    border: 1px solid #cccccc;
    float: left;
    padding: 10px 0 0 50px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight:500;
}
.shop_index:nth-child(2) {
    width: 30%;
    height: 300px;
    border: 1px solid #cccccc;
    border-left: 0;
    float: left;
    padding: 10px 0 0 50px;
    font-size: 16px;
    font-weight: 500;
}
.shop_index>div{
    margin-top: 20px;
}
.shop_index>p{
    margin-left: -50px;
}
#home>div{
    width:50%;
    height: 300px;
    border: 1px solid #cccccc;
    border-top:0;
    float:left;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
#home>div:nth-child(2) input{
    width: 100px;
}
.identify_type{
    position:relative;
    margin-top:20px;
}
.identify_type>div{
    width:110px;
    float: left;
}
#profile>div{
    float: left;
}
#profile>div:nth-child(1){
    width:40%;
    height: 300px;
    border: 1px solid #cccccc;
    border-top: 0;
}
#profile i:hover{
    cursor: pointer;
}
.shop_isBlack{
    width:60%;
    height:300px;
    border: 1px solid #cccccc;
    border: 0;
}
.shop_isBlack>div{
    float:left;
    width: 50%;
    height: 100%;
    border:1px solid #cccccc;
    border-left: 0;
    padding-top:30px
}
.shop_isBlack>div>div{
    margin: 20px 0 0 30px;

}
.shop_message{
    position: relative;
    margin: 0 auto;
    width:90%;
    height: 600px;
    border: 1px solid #eeeeee;
    border-top: 0;
    border-bottom: 0;
    /*background-color: #F9F9F9;*/
}
.shop_message>div>div{
    margin-top: 10px;
}
.top-daohang li{
    color:#fff;
}
.top-daohang a{
    color:#fff;
}
.breadcrumb > li + li:before{
    color:#fff;
}
.panel-dj {
    height: 345px;
    border-color: #f7f8f8;
}
.panel-dj > .panel-heading {
    font-size: 24px;
    height:88px;
    line-height: 88px;
    color: #fff;
    background-color: #5ae9d4;
    border-color: #f7f8f8;
}
.panel-dj > .panel-heading + .panel-collapse > .panel-body {
    padding-left:30px;
    font-family: "Microsoft YaHei";
    font-size:14px;
    border-top-color: #5ae9d4;
}
.panel-dj > .panel-heading .badge {
    color: #337ab7;
    background-color: #fff;
}
.panel-dj > .panel-footer + .panel-collapse > .panel-body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    border-bottom-color: #5ae9d4;
}
.panel-dj >.panel-body{
    padding-left:30px;
}
.panel-dj > .panel-body div{
    height:48px;
    line-height: 48px;
}
.router-tab .nav-tabs{
    height:64px;
    background: #2ecc71;
}
.router-tab .nav-tabs li a{
    font-family: "Microsoft YaHei";
    font-size:20px;
    font-weight: bold;
    width:154px;
    height:63px;
    line-height:50px;
    text-align: center;
    color:#fff;
    outline: none;
}
.router-tab .nav-tabs a:hover{
    background:#28ab6f !important;
}
.router-tab .nav-tabs a:visited{
    background:#28ab6f !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor:pointer;
    background-color: #28ab6f;
    border: 0;
    border-bottom-color: transparent;
}

.shop_panel{
    padding: 30px 30px 10px
}
.shop_panel>p{
    margin: 5px 0;
    border-bottom: 1px dashed #728093;
}