.shop_index{
    background-color: #fff;
}
.shop_index:nth-child(1) {
    width: 70%;
    height: 300px;
    border: 1px solid #cccccc;
    float: left;
    padding: 10px 0 0 50px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight:500;
}
.shop_index:nth-child(2) {
    width: 30%;
    height: 300px;
    border:1px solid #cccccc;
    border-left: 0;
    float: left;
    padding: 10px 0 0 50px;
    font-size: 16px;
    font-weight:500;
}
.shop_index>div{
    margin-top: 20px;
}
.shop_index>p{
    margin-left: -50px;
}
#home>div{
    width:50%;
    height: 300px;
    border: 1px solid #cccccc;
    border-top:0;
    float:left;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
#home>div:nth-child(2) input{
    width: 100px;
}
.identify_type{
    position:relative;
    left:50%;
    width:280px;
    margin:20px 0 0 -140px;
}
.identify_type>div{
    width:110px;
    float: left;
}
#profile>div{
    float: left;
}
#profile>div:nth-child(1){
    width:40%;
    height: 300px;
    border: 1px solid #cccccc;
    border-top: 0;
}
#profile i:hover{
    cursor: pointer;
}
.shop_isBlack{
    width:60%;
    height:300px;
    border: 1px solid #cccccc;
    border: 0;
}
.shop_isBlack>div{
    float:left;
    width: 50%;
    height: 100%;
    border:1px solid #cccccc;
    border-left: 0;
    padding-top:30px
}
.shop_isBlack>div>div{
    margin: 20px 0 0 30px;

}
.shop_message{
    position: relative;
    margin: 0 auto;
    width:80%;
    height: 600px;
    border: 1px solid #eeeeee;
    border-top: 0;
    border-bottom: 0;
    background-color: #fff;
}
.shop_message>div>div{
    margin-top: 10px;
}