*{
    margin:0;
    padding: 0;
    border:none;
}
ul{
    list-style: none;
}
header.top-bar{
    position:fixed;
    width: 100%;
    height:50px;
    z-index: 999;
    background: #09C none repeat scroll 0% 0%;
}
.logo{
    float: left;
    display: block;
    height:50px;
    padding-left:35px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.img-cropper{
    position: relative;
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

.img-cropper img {
    display: block;
    height: auto;
    max-width: 100%;
}
.dmap{
    width:100%;
    height:350px;
}