<link href="/css/login.css" rel="stylesheet">
<div class="img_box text-center">
    <img src="../img/login_logo.png" class="img">
</div>
<div class="login_modal" ng-keypress="enterEvent($event)">
    <img src="../img/person.png" style="margin-bottom: 9px">
    <input type="text" placeholder="请输入用户名" ng-model="auth.username">
    <hr>
    <img src="../img/eyes.png" style="margin-bottom: 5px">
    <input type="password" placeholder="请输入密码" ng-model="auth.password">
    <hr>
    <button class="btn btn-block btn-success" id="enter" ng-click="login(auth)"><span class="h4">登录</span></button>
    <p class="text-center msg"><span class="h4" ng-bind="errorMsg.msg"></span></p>
</div>