<link href="/css/login.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row lg-screen">
        <div class="img_box text-center">
            <img src="../img/login_logo.png" class="img">
        </div>
        <div class="login_modal" ng-keypress="enterEvent($event)">
            <img src="../img/person.png" style="margin-bottom: 9px">
            <input type="text" placeholder="请输入用户名" ng-model="auth.username">
            <hr>
            <img src="../img/eyes.png" style="margin-bottom: 5px">
            <input type="password" placeholder="请输入密码" ng-model="auth.password">
            <hr>
            <button class="btn btn-block btn-success" id="enter" ng-click="login(auth)"><span class="h4">登录</span></button>
            <p class="text-center msg"><span class="h4" ng-bind="errorMsg.msg"></span></p>
        </div>
    </div>

    <!--<div class="form-signin sm-screen">-->
        <!--<h2 class="form-signin-heading">-->
            <!--<div class="img_box text-center">-->
                <!--<img src="../img/login_logo.png" class="img">-->
            <!--</div>-->
        <!--</h2>-->
        <!--<div class="row">-->
            <!--<i class="fa fa-user"></i>-->
            <!--<input type="email" id="inputEmail" class="form-control" placeholder="请输入账号"  ng-model="auth.username" required autofocus>-->
        <!--</div>-->
        <!--<hr/>-->
        <!--<div class="row">-->
            <!--<i class="fa fa-lock"></i>-->
            <!--<input type="password" id="inputPassword" class="form-control" ng-model="auth.password" placeholder="请输入密码" required>-->
        <!--</div>-->

        <!--<p class="text-center msg"><span class="h4" ng-bind="errorMsg.msg"></span></p>-->
        <!--<button class="btn btn-lg btn-primary btn-block" ng-click="login(auth)">登 录</button>-->
    <!--</div>-->
</div>