<style>
    .container-fluid{
        min-width: 770px !important;
    }
</style>
<div ng-include="'/template/top/header.html'"></div>
<div>
    <div class="nav_out">
        <div class="nav_yc">
            <div class="info text-center">
                <!--<div style="width: 100%;height: 100px;background-color:#E44D4D "></div>-->
                <!--<div class="img_frame"></div>-->
                <!--<img src="/img/guang.png" id="cycle">-->
                <!--<img src="img/face.png" id="face">-->

                <!--<div class="warn">我在线上</div>-->
                <!--<div class="icon_3">-->
                <!--<i class="glyphicon glyphicon-bell"></i>-->
                <!--<span class="badge">8</span>-->
                <!--<i class="glyphicon glyphicon-envelope"></i>-->
                <!--<span class="badge">8</span>-->
                <!--<i class="glyphicon glyphicon-tasks"></i>-->
                <!--<span class="badge">8</span>-->
                <!--</div>-->
                <p class="text-center" ng-bind="user.name"></p>
                <p ng-bind="user.identity"></p>
            </div>
            <div style="border-top:1px solid #2c303b"></div>
            <div style="border-top:1px solid #535a69"></div>

            <ul class="function_menu" style="color: #fff">
                <li ng-show="auth_nav">
                    <div class="open_menu">
                        <div></div>
                        <a>权限列表</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li>
                            <div></div>
                            <a ui-sref=".m1">省级代理</a>
                        </li>
                        <li>
                            <div></div>
                            <a>省级代理</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="auth_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="auth_nav"></div>

                <li>
                    <div class="open_menu">
                        <div></div>
                        <a><span class="fa fa-user" style="margin-right: 10px"></span>个人信息</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li>
                            <div></div>
                            <a ui-sref=".personal-info">基本信息</a>
                        </li>
                        <li>
                            <div></div>
                            <a ui-sref=".personal-safe">密码管理</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b"></div>
                <div style="border-top:1px solid #535a69"></div>

                <li ng-show="eq_nav">
                    <div class="open_menu">
                        <div></div>
                        <a ui-sref=".eq_management"><span class="glyphicon glyphicon-cog" style="margin-right: 10px"></span>设备管理</a>
                        <i class="glyphicon glyphicon-triangle-right" ng-if="delivery_nav || version_nav"></i>
                    </div>
                    <ul class="menu_child">
                        <li ng-show="delivery_nav">
                            <div></div>
                            <a ui-sref=".deliveries">设备分配</a>
                        </li>
                        <li ng-show="version_nav">
                            <div></div>
                            <a ui-sref=".version_manage">版本管理</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="eq_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="eq_nav"></div>

                <li ng-show="agent_nav">
                    <div class="open_menu">
                        <div></div>
                        <a ui-sref=".agent-manage"><span class="fa fa-group" style="margin-right: 10px"></span>代理商管理</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li ng-show="create_agent_nav">
                            <div></div>
                            <a ui-sref=".create-agent">新增代理商账号</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="agent_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="agent_nav"></div>

                <li ng-show="business_nav">
                    <div class="open_menu">
                        <div></div>
                        <a ui-sref=".business-manage"><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span>商户管理</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li ng-show="create_business_nav">
                            <div></div>
                            <a ui-sref=".create-business">新增商户账号</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="business_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="business_nav"></div>

                <li ng-show="marketing_nav">
                    <div class="open_menu">
                        <div></div>
                        <a href="javascript:"><span class="fa fa-bullhorn" style="margin-right: 10px"></span>营销中心</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li>
                            <div></div>
                            <a ui-sref="main.sms-templates">短信群发</a>
                        </li>
                        <li>
                            <div></div>
                            <a ui-sref="main.customers">用户统计</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="marketing_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="marketing_nav"></div>

                <li ng-show="wallet_nav">
                    <div class="open_menu">
                        <div></div>
                        <a ui-sref=".wallet"><span class="glyphicon glyphicon-usd" style="margin-right: 10px"></span>我的钱包</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li>
                            <div></div>
                            <a ui-sref=".recharge">充值</a>
                        </li>
                        <li>
                            <div></div>
                            <a ui-sref=".trading-history">交易记录</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="wallet_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="wallet_nav"></div>

                <li ng-show="shop_nav">
                    <div class="open_menu">
                        <div></div>
                        <a ui-sref=".shop_management"><span class="fa fa-cogs" style="margin-right: 10px"></span>店铺管理</a>
                    </div>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="shop_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="shop_nav"></div>

                <li ng-show="ads_nav">
                    <div class="open_menu">
                        <div></div>
                        <a><span class="glyphicon glyphicon-text-background" style="margin-right: 10px"></span>我的广告</a>
                        <i class="glyphicon glyphicon-triangle-right"></i>
                    </div>
                    <ul class="menu_child">
                        <li ng-show="adsType_nav == 1">
                            <div></div>
                            <a ui-sref=".ads">自媒体广告</a>
                        </li>
                        <li ng-show="adsType_nav == 2">
                            <div></div>
                            <a ui-sref=".ads">倒计时广告</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="ads_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="ads_nav"></div>

                <li ng-show="account_nav">
                    <div class="open_menu">
                        <div></div>
                        <a ui-sref="main.account-details"><span class="fa fa-credit-card" style="margin-right: 10px"></span>广告分账</a>
                    </div>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="account_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="account_nav"></div>

                <li ng-show="js_ad_nav">
                    <div class="open_menu">
                        <div></div>
                        <a style="cursor: pointer;"><span class="fa fa-credit-card" style="margin-right: 10px"></span>JS广告管理</a>
                    </div>
                    <ul class="menu_child">
                        <li>
                            <div></div>
                            <a ui-sref="main.white-space">URL白名单</a>
                        </li>
                        <li>
                            <div></div>
                            <a ui-sref="main.open-area">开放地区</a>
                        </li>
                        <li>
                            <div></div>
                            <a ui-sref="main.js-code">JS代码</a>
                        </li>
                    </ul>
                </li>
                <div style="border-top:1px solid #2c303b" ng-show="js_ad_nav"></div>
                <div style="border-top:1px solid #535a69" ng-show="js_ad_nav"></div>
            </ul>
        </div>
    </div>
    <!--<div id="bianqian"></div>-->
    <!--<div class="time_show">-->
        <!--<div>-->
            <!--<p class="text-center"></p>-->

            <!--<p class="text-center"><span class="h2" style="font-weight: 600"></span><span class="pull-right"></span></p>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p class="text-center"></p>-->

            <!--<p class="text-center"><span class="h2" style="font-weight: 600"></span><span class="h2"-->
                                                                                          <!--style="font-weight: 600"></span>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->

    <div ui-view="" class="content container-fluid" style="background-color: #ebebed"></div>

</div>

<script>
    $(".open_menu").click(function () {
        $(this).siblings(".menu_child").slideToggle("fast");
        $(this).siblings(".menu_child").css("background-color", "#2a2f38");
        if ($(this).find("i").hasClass("glyphicon glyphicon-triangle-right")) {
            $(this).find("i").attr("class", "glyphicon glyphicon-triangle-bottom");
        }
        else {
            $(this).find("i").attr("class", "glyphicon glyphicon-triangle-right");
        }
    });

    //用户外边线条旋转
    var num = 0;
    $(".img_frame").hover(function () {
        time = setInterval(function () {
            $("#cycle").css("transform", "rotate(" + num + "deg)");
            num++;
        }, 1);
    }, function () {
        clearInterval(time);
    });

    //点击用户头像扩散效果
    $(".img_frame").click(function () {
        $(this).append('<div class="radius" style="position:absolute;top:60px;left:60px"></div>');
        setTimeout(function () {
            $('.radius:first-of-type').remove();
        }, 3000);
    });

//    var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
//    var myDate = new Date();
//    $(".time_show").find("span")[0].innerHTML = myDate.getDate();
//    $(".time_show").find("span")[1].innerHTML = myDate.getMonth() + 1 + "月";
//    $(".time_show").find("span")[2].innerHTML = myDate.getHours() + ":";
//    $(".time_show").find("span")[3].innerHTML = myDate.getMinutes();
//    $(".time_show").find("p")[0].innerHTML = week[myDate.getDay()];
//    $(".time_show").find("p")[2].innerHTML = myDate.toLocaleTimeString().substr(0, 2);
//    window.time_self = setInterval(function () {
//        var myDate = new Date();
//        $(".time_show").find("span")[0].innerHTML = myDate.getDate();
//        $(".time_show").find("span")[1].innerHTML = myDate.getMonth() + 1 + "月";
//        $(".time_show").find("span")[2].innerHTML = myDate.getHours() + ":";
//        $(".time_show").find("span")[3].innerHTML = myDate.getMinutes();
//        $(".time_show").find("p")[0].innerHTML = week[myDate.getDay()];
//        $(".time_show").find("p")[2].innerHTML = myDate.toLocaleTimeString().substr(0, 2);
//    }, 1000);
//
//    $("#bianqian").click(function () {
//        $(".time_show").toggle();
//    });

</script>