<ul data-listidx="0" id="drag">
    <li>
        <a href="http://7xn404.com1.z0.glb.clouddn.com/63a18207-002b-43b9-b049-fddb6c9305bf-1447135036.png?0.19689838418325112"><img
                style="width:100%;"
                src="http://7xn404.com1.z0.glb.clouddn.com/63a18207-002b-43b9-b049-fddb6c9305bf-1447135036.png?0.19689838418325112"></a>
    </li>
    <li id="d08600272313665991">
        <div class="img">
            <div class="img"><img src="images/1.jpg"></div>
            <!--<div class="lunbo">-->
            <!--<ul>-->
            <!--<li><img src="images/1.jpg"></li>-->
            <!--<li><img src="images/2.jpg"></li>-->
            <!--<li><img src="images/3.jpg"></li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="deledit"><span class="edit">编辑</span><span class="delete">删除</span></div>
        </div>
    </li>
    <li id="d07282237258123418">
        <div class="text">
            <h4 class="title" style="margin:0;">标题</h4>

            <div class="content">文字</div>
            <div class="deledit"><span class="edit">编辑</span><span class="delete">删除</span></div>
        </div>
    </li>
    <li id="d08497959365837924">
        <div style="overflow: hidden; position: relative; z-index: 0; background-color: rgb(245, 243, 240); color: rgb(0, 0, 0); text-align: left;"
             class="map" id="d07209954296983041">
            <div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px;">
                <div style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; width: 276px; height: 200px;"
                     class="BMap_mask"></div>
                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;">
                        <div style="position: absolute; line-height: 28px; text-align: center; border: 0px none;"
                             class="iw">
                            <div>
                                <div style="display: block;" class="iw_l"></div>
                                <div style="display: block;" class="iw_r"></div>
                                <a class="iw_s iw_s0 iw_c" target="_blank">
                                    <div class="iw_bg iw_cc"></div>
                                </a></div>
                        </div>
                    </div>
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span
                            class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding:
                        0px; margin: 0px; border: 0px none; -moz-user-select: none; cursor: pointer; background:
                        transparent url(&quot;http://map.baidu.com/res_mobile2/images/blank.gif&quot;) repeat scroll 0%
                        0%; width: 19px; height: 25px; left: 128px; top: 75px; z-index: -6135988;"></span></div>
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div>
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"></div>
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span
                            class="BMap_Marker" unselectable="on"
                            style="position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 0px; height: 0px; -moz-user-select: none; left: 128px; top: 75px; z-index: -6135988;"><div
                            style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;">
                        <img src="http://map.baidu.com/res_mobile2/images/red_marker.png"
                             style="border:none;margin-left:0px; margin-top:0px; "></div></span></div>
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"></div>
                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; z-index: 1;">
                    <div style="position: absolute; z-index: -100; left: 138px; top: 100px; display: none;"></div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; z-index: 2;">
                    <div style="position: absolute; top: 100px; left: 138px; z-index: 0; display: block;">
                        <canvas id="_1_45253_13942_18" height="256" width="256"
                                style="position: absolute; background: rgb(245, 243, 240) none repeat scroll 0% 0%; width: 256px; height: 256px; left: -146px; top: -157px;"></canvas>
                        <canvas id="_1_45254_13942_18" height="256" width="256"
                                style="position: absolute; background: rgb(245, 243, 240) none repeat scroll 0% 0%; width: 256px; height: 256px; left: 110px; top: -157px;"></canvas>
                        <canvas id="_1_45253_13941_18" height="256" width="256"
                                style="position: absolute; background: rgb(245, 243, 240) none repeat scroll 0% 0%; width: 256px; height: 256px; left: -146px; top: 99px;"></canvas>
                        <canvas id="_1_45254_13941_18" height="256" width="256"
                                style="position: absolute; background: rgb(245, 243, 240) none repeat scroll 0% 0%; width: 256px; height: 256px; left: 110px; top: 99px;"></canvas>
                    </div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; z-index: 3;"></div>
            </div>
            <div class=" anchorBL"
                 style="height: 25px; position: absolute; z-index: 10; -moz-user-select: none; bottom: 0px; right: auto; top: auto; left: 1px;">
                <a style="outline: medium none;" href="http://map.baidu.com/?sr=1" target="_blank"
                   title="到百度地图查看此区域"><img style="border:none;width:68px;height:25px"
                                           src="http://api0.map.bdimg.com/images/copyright_logo_s.png"></a></div>
        </div>
        <div class="deledit"><span class="edit">编辑</span><span class="delete">删除</span></div>
    </li>
</ul>

<div><a href="http://www.idianjia.com">店家</a>提供技术支持</div>