
<div class="w_header">
    <span class="h4">自媒体广告</span>
</div>
<div style="height: 500px;margin-top:50px">
    <button class="btn btn-primary" ui-sref="main.wemedia_edit">新建</button>
    <div class="pull-right">
        <input type="text" ng-model="filter.title__icontains">
        <button ng-click="filtering(filter)">查询</button>
    </div>
    <table id="table-wemedia" class="table table-hover table-bordered table-condensed table-selectable text-center">
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td id="{{ headers[1] }}" ng-click="sort(headers[1])">
                标题
                <span ng-show="currentSort[headers[1]] === true">升序</span>
                <span ng-show="currentSort[headers[1]] === false">降序</span>
            </td>
            <td id="{{ headers[2] }}" ng-click="sort(headers[2])">
                简介
                <span ng-show="currentSort[headers[2]] === true">升序</span>
                <span ng-show="currentSort[headers[2]] === false">降序</span>
            </td>
            <td id="{{ headers[3] }}" ng-click="sort(headers[3])">
                缩略图
                <span ng-show="currentSort[headers[3]] === true">升序</span>
                <span ng-show="currentSort[headers[3]] === false">降序</span>
            </td>
            <td id="{{ headers[4] }}" ng-click="sort(headers[4])">
                链接地址
                <span ng-show="currentSort[headers[4]] === true">升序</span>
                <span ng-show="currentSort[headers[4]] === false">降序</span>
            </td>
            <td id="{{ headers[5] }}" ng-click="sort(headers[5])">
                行业类型
                <span ng-show="currentSort[headers[5]] === true">升序</span>
                <span ng-show="currentSort[headers[5]] === false">降序</span>
            </td>
            <td id="{{ headers[6] }}" ng-click="sort(headers[6])">
                创建时间
                <span ng-show="currentSort[headers[6]] === true">升序</span>
                <span ng-show="currentSort[headers[6]] === false">降序</span>
            </td>
            <td id="{{ headers[7] }}" ng-click="sort(headers[7])">
                修改时间
                <span ng-show="currentSort[headers[7]] === true">升序</span>
                <span ng-show="currentSort[headers[7]] === false">降序</span>
            </td>
            <td>
                操作
            </td>
        </tr>
        <tr ng-repeat="p in grid.results" class="wemedia_table">
            <td><input type="checkbox"></td>
            <td ng-bind="p.title"></td>
            <td ng-bind="p.brief"></td>
            <td width="60px">
                <a href="" data-toggle="modal" data-target="#myModal" ng-click="sendindex($index)"><img ng-src="{{ p.img }}" style="width:27px;height:48px"></a>
            </td>
            <td ng-bind="p.link"></td>
            <td ng-bind="p.category"></td>
            <td ng-bind="p.create_time"></td>
            <td ng-bind="p.modified_time"></td>
            <td>
                <a ui-sref="main.wemedia_edit" ng-click="send(p)">修改</a>
                <a href="" ng-click="delete(p.id)">删除</a>
                <a href="" ng-click="under()">下架</a>
            </td>
        </tr>
    </table>
    <div ng-include="'/template/partial/pagination.html'"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 260px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <img ng-src="{{grid.results[number].img}}">
            </div>
        </div>
    </div>
</div>
