<div style="width: 300px; height: 500px;">
    <button class="btn btn-success btn-xs" ng-click="newFunction()" data-toggle="modal" data-target="#functionModal">新建</button>
    <!--<input type="text" ng-model="filter.name__icontains">-->
    <!--<button class="btn btn-success btn-xs" ng-click="filtering(filter)">查询</button>-->
    <table id="table-functions" class="table table-hover table-condensed table-bordered">
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td id="{{ headers[1] }}" ng-click="sort(headers[1])">
                功能
                <span ng-show="currentSort[headers[1]] === true">升序</span>
                <span ng-show="currentSort[headers[1]] === false">降序</span>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat="p in grid.results">
            <td>
                <input type="checkbox" ng-value="p.id">
            </td>
            <td ng-bind="p.name"></td>
            <td>
                <button class="btn btn-warning btn-xs">编辑</button>
                <button class="btn btn-danger btn-xs">删除</button>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" id="functionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-bind="functionModal.title"></h4>
            </div>
            <div class="modal-body">
                <input ng-if="functionModal.data.id" type="hidden" ng-value="functionModal.data.id">
                <input type="text" ng-model="functionModal.data.name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>