<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
       <div class="panel panel-primary">
           <div class="panel-heading">
               店家3.0帮助文档及固件下载
           </div>
           <div class="panel-body">
               <div>
                   为了您有更好的体验，我们推荐您使用以下浏览器。
                   <hr>
                   <div class="row text-center">
                       <a class="col-xs-6" href="http://w.x.baidu.com/alading/anquan_soft_down_ub/14744">
                           <button class="button button-primary"><i class="fa fa-google"></i>谷歌浏览器</button>
                       </a>
                       <a class="col-xs-6" href="https://download.mozilla.org/?product=firefox-stub&os=win&lang=zh-CN">
                           <button class="button button-primary"><i class="fa fa-firefox"></i>火狐浏览器</button>
                       </a>
                   </div>
               </div>
               <hr>
               <div class="row text-center">
                   <a class="col-xs-6" href="/docs/3.0/mt7620-20151211-v3.0.4-squashfs-sysupgrade.bin">MT7620最新3.0.4固件下载</a>
                   <a class="col-xs-6" href="/docs/3.0/mt7620-v3.0.8-squashfs-sysupgrade.bin">MT7620最新3.0.8固件下载</a>
               </div>
               <hr>
               <div class="row text-center">
                   <a class="col-xs-4" href="/docs/3.0/3.0wx.doc">微信绑定指引</a>
                   <a class="col-xs-4" href="/docs/3.0/3.0dpcj.docx">店铺创建流程</a>
                   <a class="col-xs-4" href="/docs/3.0/3.0lyq.doc">路由器刷机文档</a>
               </div>
               <div class="row text-center">
                   <a class="col-xs-4" href="/docs/3.0/3.0xcaz.doc">现场安装流程</a>
                   <a class="col-xs-4" href="/docs/3.0/3.0ggsc.docx">广告上传流程</a>
                   <a class="col-xs-4" href="/docs/3.0/3.0czlc.docx">云平台操作流程</a>
               </div>
           </div>
       </div>
    </div>
</div>