<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
       <div class="panel panel-primary">
           <div class="panel-heading">
               店家3.0帮助文档
           </div>
           <div class="panel-body">
               点击下载:
               <div>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <a href="/docs/3.0/mt7620-20151210-v3.0.3-squashfs-sysupgrade.bin">MT7620最新3.0.3固件下载</a> |
                   <a href="/docs/3.0/mt7620-20151211-v3.0.4-squashfs-sysupgrade.bin">MT7620最新3.0.4固件下载</a>
               </div>
               <hr>
               <div>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <a href="/docs/3.0/3.0wx.doc">微信绑定指引</a>&nbsp;&nbsp;&nbsp; <a href="/docs/3.0/3.0dpcj.docx">店铺创建流程</a> &nbsp;&nbsp;&nbsp;
                   <a href="/docs/3.0/3.0lyq.doc">路由器刷机文档</a>
               </div>
               <div>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <a href="/docs/3.0/3.0xcaz.doc">现场安装流程</a>&nbsp;&nbsp;&nbsp;
                   <a href="/docs/3.0/3.0ggsc.docx">广告上传流程</a>&nbsp;&nbsp;&nbsp; <a href="/docs/3.0/3.0czlc.docx">云平台操作流程</a>
               </div>
           </div>
       </div>
    </div>
</div>