<link rel="stylesheet" href="/css/phone_cms.css">
<link rel="stylesheet" href="/bower_components/icon/iconfont.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/component.css">
<link rel="stylesheet" href="/bower_components/jquery-minicolors/jquery.minicolors.css"/>

<ol class="breadcrumb" style="background-color: #1fbba6">
    <li><a ui-sref="main.shop_management">店铺管理</a></li>
    <li class="active">店铺主页编辑</li>
</ol>
<div class="container-fluid">
    <div class="row main">
        <div class="col-xs-3 left">
            <div class="panel panel-danger page">
                <div class="panel-heading text-center">组件中心</div>
                <div class="panel-body component">
                    <div class=""   id="dj-text"  >
                        <i class="icon iconfont font2x">&#xe789;</i>
                        <div>文字</div>
                    </div>

                    <div class="" id="dj-img">
                        <i class="icon iconfont font2x">&#xe6d1;</i>
                        <div>图片</div>
                    </div>

                    <div class="">
                        <i class="icon iconfont font2x">&#xf002c;</i>
                        <div>幻灯片</div>
                    </div>

                    <div class="" id="dj-menu">
                        <i class="icon iconfont font2x">&#xe721;</i>
                        <div>菜单</div>
                    </div>

                    <!--<div class="">-->
                        <!--<i class="icon iconfont font2x">&#xe836;</i>-->
                        <!--<div>导航</div>-->
                    <!--</div>-->

                    <!--<div class="">-->
                        <!--<i class="icon iconfont font2x">&#xf0007;</i>-->
                        <!--<div>电话</div>-->
                    <!--</div>-->

                    <!--<div class="">-->
                        <!--<i class="icon iconfont font2x">&#xe62c;</i>-->
                        <!--<div>广告</div>-->
                    <!--</div>-->

                    <!--<div class="">-->
                        <!--<i class="icon iconfont font2x">&#xe64d;</i>-->
                        <!--<div>活动</div>-->
                    <!--</div>-->

                    <!--<div class="">-->
                        <!--<i class="icon iconfont font2x">&#xe6ec;</i>-->
                        <!--<div>应用</div>-->
                    <!--</div>-->

                    <div class="" id="dj-address">
                        <i class="icon iconfont font2x">&#xe673;</i>
                        <div>地址</div>
                    </div>

                    <div class=""  id="dj-map" >
                        <i class="icon iconfont font2x">&#xe64c;</i>
                        <div>地图</div>
                    </div>

                    <!--<div class="">-->
                        <!--<i class="icon iconfont font2x">&#xe684;</i>-->
                        <!--<div>视频</div>-->
                    <!--</div>-->

                    <!--新添组件-->
                    <div class="">
                    </div>

                    <div class="">
                    </div>

                    <div class="">
                    </div>

                    <div class="">
                    </div>

                </div>
            </div>

            <p class="text-center">店家网络&copy;2013-2015</p>
        </div>
        <div class="col-xs-9 right">
            <div class="row">
                <div class="col-xs-7">
                    <div class="phone">
                        <div class="phone-page">
                            <!--手机装饰-->
                            <div class="phone-ear">
                                <span class="phone-camera"></span><span class="phone-sound"></span>
                            </div>
                            <!--以下的phone-warp是直接添加到数据库的部分-->
                            <div class="phone-warp">
                                <div class="phone-content">
                                    <ul id="drag">
                                    </ul>

                                    <div class="text-center"><a href="http://www.idianjia.com">店家</a>提供技术支持</div>
                                </div>
                            </div>
                            <div class="phone-button">
                                <div class="circle-button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12 text-center">
                            <button class="button button-primary" id="savePage"><i class="icon iconfont">&#xe63a;</i>保存页面</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 editArea">


                    <!--<div class="form-horizontal">-->
                    <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">-->
                    <!--<span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;菜单组件</span>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                    <!--菜单设置:-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">背景色</div><input type="text" class="form-control color">-->
                    <!--</div>-->
                    <!--<div class="form-group" style="margin-top:15px;border-top:dashed 1px">-->
                    <!--<div class="col-xs-5">-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">背景色</div><input type="text" class="form-control color">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-7">-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">文字色</div><input type="text" class="form-control color">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xs-5">-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">链接</div>-->
                    <!--<select class="form-control" style="width:130%;font-size: 12px;padding:6px 1px;">-->
                    <!--<option value="">站内链接</option>-->
                    <!--<option value="">站外链接</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-7">-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">http://</div><input class="form-control" type="text"/>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--<div></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>

</div>
<div class="hidden">
    <!--组件模板-->
    <div class="template">
        <div class="menu">
            <nav class="menus">
                <ul>
                    <li><a href="javascript:" class="active">首页</a></li>
                    <li><a href="javascript:">新闻</a></li>
                    <li><a href="javascript:">商城</a></li>
                    <li><a href="javascript:">知识</a></li>
                    <li><a href="javascript:">留言板</a></li>
                </ul>
            </nav>
        </div>
        <div class="text">
            <h4 class="text-title" style="margin:0;">标题</h4>
            <div class="text-content">默认文字</div>
        </div>
        <div class="address">
            <i class="icon iconfont">&#xe673;</i><span class="dizhi">成都市青羊区</span>
        </div>
        <div class="img">
            <div class="img"><img src="http://taolishuo.com/wp-content/uploads/2015/05/ban1.jpg"></div>
            <!--<div class="lunbo">-->
            <!--<ul>-->
            <!--<li><img src="images/1.jpg"></li>-->
            <!--<li><img src="images/2.jpg"></li>-->
            <!--<li><img src="images/3.jpg"></li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
        <div class="map">
        </div>
    </div>
    <!--编辑模板-->
    <div class="edit-items">
        <div class="text">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-cog"></i>文字编辑</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <p>
                            <span class="h4">标题</span><small>(建议标题不长于12个字)</small>
                            <span style="float:right"><input type="checkbox">是否显示</span>
                            <input type="text" class="edit-title form-control">
                        </p>
                        <div class="form-group">
                            <div class="col-xs-6">背景色:<input type="text" class="form-control color wback"></div>
                            <div class="col-xs-6">文字色:<input type="text" class="form-control color wcolor"></div>
                        </div>
                        <div class="">
                            内容:
                            <textarea style="resize:none;" class="form-control txtarea" cols="30" rows="10"></textarea>
                            <p>限输入3000字,你还可以输入<small style="color:red;" class="text-count">3000</small>字</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="address">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;地址</span>
                </div>
                <div class="panel-body">
                    <label>请输入地址:</label><input class="form-control" type="text">
                    <p>输入地址更新页面可将地址数据传到服务器</p>
                </div>
            </div>
        </div>

        <div class="map">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;地图编辑</span>
                </div>
                <div class="panel-body">
                    <p>拖动红点选择您店铺的地址</p>
                    <div class="dmap">

                    </div>
                </div>
                <div class="panel-footer">
                    <button class="button button-caution saveMap">保存</button>
                </div>
            </div>
        </div>

        <div class="img">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;图片编辑</span>
                </div>
                <div class="panel-body">
                    <div><label class="button button-primary" for="upload">上传图片</label><input type="file" class="hidden" id="upload" accept="image/jpeg,image/gif,image/png"></div>
                    <div>
                        <div class="photoshow" style="display: inline-block;border:solid 1px gray;width:100px;height:100px;line-height: 100px;">
                            <img id="showImg" src="/img/test2.jpg">
                        </div>

                        <div style="display: inline-block;width:250px;">图片要求:<small>图片大小限制为:2MB以内，建议宽度640px
                            仅支持JPG、PNG格式，建议使用JPG格式</small>
                        </div>
                    </div>
                    <div class="btn-group" style="margin-top: 10px;">
                        <div class="col-xs-12">链接方式:</div>
                        <div class="col-xs-5">
                            <select class="form-control" style="padding:6px 5px;">
                                <!--<option value="">内部网页</option>-->
                                <option value="">外部链接</option>
                            </select>
                        </div>
                        <div class="col-xs-7">
                            <div class="input-group">
                                <label class="input-group-addon">http://</label><input class="form-control img-link" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button class="button button-caution saveImg">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade img-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片编辑</h4>
            </div>
            <div class="modal-body">
                <div class="avatar-wrapper" style="width:100%;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="/bower_components/jquery-dragsort/jquery.dragsort-0.5.2.min.js"></script>
<script src="/bower_components/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="/bower_components/ckeditor/ckeditor.js"></script>
<script src="/bower_components/unslider/src/unslider.min.js"></script>
<script src="/js/cms/cms.js"></script>