<link rel="stylesheet" href="css/wemedia.css">
<link rel="stylesheet" href="css/cropper.min.css">
<link rel="stylesheet" href="css/phone.css">
<div class="w_header">
    <span class="h4">自媒体广告</span>
</div>
<div class="w_content">
    <div class="col-md-6">
        <div class="form-inline">
            <div class="radio col-md-3">
                <label>
                    <input type="radio" name="adtype" checked="checked">
                    <span>编辑广告</span>
                </label>
            </div>
            <div class="radio col-md-3">
                <label>
                    <input type="radio" name="adtype">
                    <span>系统默认广告</span>
                </label>
            </div>
        </div>

        <input type="text" class="form-control" placeholder="广告标题" id="ad_title">

        <div id="crop-avatar">
            <div id="avatar-modal" role="dialog" tabindex="-1">
                <form class="avatar-form" enctype="multipart/form-data" method="post">
                    <div class="avatar-upload">
                        <!--<input type="hidden" class="avatar-src" name="avatar_src">
                        <input type="hidden" class="avatar-data" name="avatar_data">-->
                        <label for="avatarInput">请选择一个图像文件</label>
                        <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                    </div>
                    <div class="avatar-wrapper"></div>
                    <img src="img/phone.png" class="model_p">
                    <div class="avatar-preview preview-lg"></div>
                    <div class="form-inline">
                    <input type="text" class="form-control ad_url" placeholder="广告链接地址：如www.abc.com" id="ad_url">
                    <button type="button" class="btn btn-success " ng-click="uploadImg()">确定</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="col-md-6 text-center"></div>
</div>
<script src="js/apps/cropper.min.js"></script>
<script src="js/apps/phone.js"></script>
