<style>
    .top_border {
        border: 1px solid #cccccc;
        padding: 30px;
        background-color: #fff
    }

    .sum_tip {
        margin-top: 30px;
    }

    .sum_tip > span {
        font-size: 18px;
        font-family: "Microsoft YaHei";
    }
</style>
<div class="panel_outside">
    <ol class="breadcrumb">
        <li>营销中心</li>
        <li><a ui-sref="main.customers-list">店铺客流</a></li>
        <li class="active">当前情况</li>
    </ol>
    <div class="table_inside row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#now" data-toggle="tab">当前情况</a></li>
            <li><a href="#day" data-toggle="tab">当前情况</a></li>
            <li><a href="#month" data-toggle="tab">当前情况</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 30px">
            <div class="tab-pane active" id="now">
                <div class="col-xs-3 text-center">
                    <div class="top_border">
                        <span>当前进店人数</span>

                        <p class="h1">26</p>
                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="top_border">
                        <span>当前连接量</span>

                        <p class="h1">26</p>
                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="top_border">
                        <span>今日进店人数</span>

                        <p class="h1">26</p>
                    </div>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="top_border">
                        <span>今日连接量</span>

                        <p class="h1">26</p>
                    </div>
                </div>

                <div id="echarts" style="width: 100%;height: 400px;position: relative;margin-top: 60px"
                     class="col-xs-12"></div>
                <div class="text-center col-xs-12 sum_tip">
                    <span>连接量：</span><span>11111</span>
                    <span>进店量：</span><span>11111</span>
                    <span>过客量：</span><span>11111</span>
                </div>
            </div>
            <div class="tab-pane" id="day">
                111
            </div>
            <div class="tab-pane" id="month">
                222
            </div>
        </div>

    </div>
</div>