<div class="panel_outside">
    <ol class="breadcrumb">
        <li>营销中心</li>
        <li class="active">店铺客流</li>
    </ol>

    <div class="table_inside">
        <table class="table table-bordered table-striped table-hover text-center">
            <thead style="background-color: #8a8bc4;color: #fff">
            <tr>
                <td>店铺名称</td>
                <td>当前在线人数</td>
                <td>今日进店人次</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="g in grid.results">
                <td ng-bind="g.name"></td>
                <td ng-bind="g.current_online"></td>
                <td ng-bind="g.stay_count"></td>
                <td>
                    <button class="btn btn-xs btn-info" ui-sref="main.customers-flow">店铺客流量</button>
                    <button class="btn btn-xs btn-info" ui-sref="main.customers-loyalty">用户忠诚度</button>
                    <!--<button class="btn btn-xs btn-info" ui-sref="main.customers-lost">用户流失率</button>-->
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>
    </div>
</div>