<div class="panel_outside">
    <ol class="breadcrumb">
        <li>营销中心</li>
        <li class="active">店铺客流</li>
    </ol>

    <div class="table_inside">
        <table class="table table-bordered table-striped table-hover text-center">
            <thead style="background-color: #8a8bc4;color: #fff">
            <tr>
                <td>店铺名称</td>
                <td>当前在线人数</td>
                <td>今日进店人数</td>
                <td>今日在线人数</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>
                    <button class="btn btn-xs btn-info" ui-sref="main.customers-flow">店铺客流量</button>
                    <button class="btn btn-xs btn-info" ui-sref="main.customers-loyalty">用户忠诚度</button>
                    <button class="btn btn-xs btn-info" ui-sref="main.customers-lost">用户流失率</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>