<link rel="stylesheet" href="/bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<div class="row">
    <div class="col-xs-4 text-right"><button class="button button-primary select-date">最近7天</button><button class="button button-primary select-date">最近30天</button></div>
    <div class="col-xs-8 form-inline">
        <div class="form-control-static">
            选择时间段
        </div>
        <div id="datetimepicker1" class="input-group input-append date">
             <input class="form-control" value="2015-12-6" type="text">
            <span class="input-group-addon add-on">
              <i class="fa fa-calendar" data-date-icon="icon-calendar">
              </i>
            </span>
         </div><span>-</span>
        <div id="datetimepicker2" class="input-group input-append  date">
            <input class="form-control" value="2015-12-6" type="text">
                <span class="input-group-addon add-on">
                  <i class="fa fa-calendar" data-date-icon="icon-calendar">
                  </i>
                </span>
        </div>
        <button class="button button-primary  select-date" id="forSearch">确定</button>
    </div>
    <div class="col-xs-3">

    </div>
   <div class="col-xs-12">
       <div class="user-charts" id="charts">

       </div>
   </div>
</div>
<script type="application/javascript" src="/bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="application/javascript" src="/bower_components/echarts/build/dist/echarts-all.js"></script>
<script>
    $(function() {
            $('#datetimepicker1').datetimepicker({
                format: "yyyy-MM-dd"
            });
            $('#datetimepicker2').datetimepicker({
                format: "yyyy-MM-dd"
            });
        });
    $("#forSearch").on("click",function(){
        console.log($('#datetimepicker1 input').val()+"--"+ $('#datetimepicker2 input').val());
    });
    var myChart = echarts.init(document.getElementById('charts'));
    option = {
        title : {
            text: '店铺一周流量统计',
            subtext: '访问次数'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['访问次数']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: false},
                dataView : {show: false, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['11.29','11.30','12.1','12.2','12.3','12.4','12.5']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLabel : {
                    formatter: '{value} 人'
                }
            }
        ],
        series : [
            {
                name:'访问次数',
                type:'line',
                data:[11, 11, 15, 13, 12, 13, 10],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };
    myChart.setOption(option);
</script>