<style>
    .SMS_create_panel span{
        font-family: 微软雅黑;
        font-size: 18px;
    }
</style>
<div class="panel_outside">
    <ol class="breadcrumb">
        <li><a ui-sref="main.sms-templates">客户营销中心</a></li>
        <li class="active">新建短信模板</li>
    </ol>

    <div class="table_inside">
        <div class="SMS_create_panel">
            <div>
                <div class="form-inline form-group">
                    <span>模板名称：</span>
                    <input class="form-control" type="text" ng-model="template.name">
                </div>
                <div class="form-inline form-group">
                    <span>短信签名：</span>
                    <input class="form-control" ng-model="template.sign">
                </div>
                <div class="form-inline form-group" style="position: relative">
                    <span>短信内容：</span>
                <textarea class="form-control" ng-model="template.template" maxlength="70">
                </textarea>
                    <p style="position: absolute;right: 15px;bottom:0" class="text-muted">{{template.template | monitorWords}}/70</p>
                </div>
                <div class="text-center">
                    <button class="button button-royal" ng-click="createTemplate(template)">提交</button>
                </div>
            </div>
        </div>
    </div>

</div>