<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.sms-templates">客户营销中心</a></li>
        <li class="active">新建短信模板</li>
    </ol>

    <div class="SMS_create_panel">
        <div>
            <div class="form-inline">
                <span>模板名称：</span>
                <input class="form-control" type="text" ng-model="template.name">
            </div>
            <div class="form-inline">
                <span>短信内容：</span>
                <textarea class="form-control" ng-model="template.template"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-info" ng-click="createTemplate(template)">提交</button>
            </div>
        </div>

    </div>
</div>