<div class="row">
   <div class="col-xs-offset-1 col-xs-4 form-inline">
       <div class="panel panel-primary">
           <div class="panel-heading">
               总览:<span>总共6台路由器,共有40人在线</span>
           </div>
           <div class="panel-body">
               <div>路由器1</div>
               <div>路由器2</div>
               <div>路由器3</div>
               <div>路由器4</div>
               <div>路由器5</div>
               <div>路由器6</div>
           </div>
       </div>
   </div>
    <div class="col-xs-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                当前选择的路由器为:西沟头幼儿园
            </div>
            <div class="panel-body">
                <table class="table table-bordered text-center">
                    <tr>
                        <td>手机号码</td>
                        <td>MAC码</td>
                        <td>来访次数</td>
                        <td>在线时长</td>
                    </tr>
                    <tr>
                        <td>13708046464</td>
                        <td>D5:02:L7:55</td>
                        <td>3</td>
                        <td>3:55</td>
                    </tr>
                    <tr>
                        <td>13708046464</td>
                        <td>D5:02:L7:55</td>
                        <td>3</td>
                        <td>3:15</td>
                    </tr>
                    <tr>
                        <td>13708046464</td>
                        <td>D5:02:L7:55</td>
                        <td>3</td>
                        <td>6:11</td>
                    </tr>
                    <tr>
                        <td>13708046464</td>
                        <td>D5:02:L7:55</td>
                        <td>3</td>
                        <td>15:15</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <table>
            <td></td>
        </table>
    </div>
</div>