<div class="table_outside">
    <ol class="breadcrumb">
        <li><a ui-sref="main.sms-templates">客户营销中心</a></li>
        <li class="active">选择用户</li>
    </ol>
    <button class="btn btn-sm btn-info" ng-click="send()">发送</button>
    <div class=" table_inside" id="sms-targets">
        <table class="table table-bordered text-center table-hover table-striped">
            <thead style="background-color: #8a8bc4;color:#fff">
            <tr>
                <td align="center">
                    <a href="javascript:" ng-click="checkAll()">全选</a>
                    <a href="javascript:" ng-click="checkInverse()">反选</a>
                </td>
                <td>手机号</td>
                <td>访问次数</td>
                <td>设备型号</td>
                <td>首次访问时间</td>
                <td>最近一次访问时间</td>
            </tr>
            </thead>
        <tbody>
        <tr ng-repeat="m in members">
            <td align="center"><input type="checkbox" ng-value="m.member.phone"></td>
            <td ng-bind="m.member.phone"></td>
            <td ng-bind="m.times"></td>
            <td ng-bind="m.member.brand"></td>
            <td ng-bind="m.create_time | date:'yyyy-MM-dd hh:mm:ss'"></td>
            <td ng-bind="m.modified_time | date:'yyyy-MM-dd hh:mm:ss'"></td>
        </tr>
        </tbody>
        </table>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>
</div>