<style>
    .zhifubao {
        position: relative;
        padding: 5px;
        border: dashed 2px darkgray;
        cursor: pointer;
    }

    .zfb-logo {
        width: 114px;
        height: 40px;
        /*outline: dashed 1px;*/
        background: url(/img/zfb_logo.png);

    }

    .zhifubao b {
        display: none;
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 12px;
        height: 12px;
        overflow: hidden;
        background: transparent url("//static.360buyimg.com/item/main/1.0.9/css/i/newicon20140910.png") no-repeat scroll -202px -224px;
    }
</style>

<div class="panel_outside">
    <ol class="breadcrumb" style="background-color: #383e4c">
        <li><a ui-sref="main.wallet">我的钱包</a></li>
        <li class="active">充值</li>
    </ol>
    <img src="/img/recharge.jpg" width="100%" style="margin-top: -20px">

    <p style="padding: 10px;font-family: 'Microsoft YaHei';font-size: 20px"><span>充值账号：</span><span style="color: #cccccc;font-weight: 100" ng-bind="recharge_tel"></span></p>

    <div style="border: 1px solid #bfbfbf;border-radius: 5px">
        <div style="padding: 20px 0 0 20px" class="row">
            <div class="col-md-1 col-sm-2" style="font-family: 'Microsoft YaHei';font-size: 20px">面值：</div>
            <div class="col-md-1 col-sm-2">
                <input type="radio" name="money" id="20r" ng-click="active=0;rechargeOrder.amount=20">
                <label for="20r"><img src="/img/20.png"></label>
            </div>
            <div class="col-md-1 col-sm-2">
                <input type="radio" name="money" id="50r" ng-click="active=0;rechargeOrder.amount=50">
                <label for="50r"><img src="/img/50.png"></label>
            </div>
            <div class="col-md-1 col-sm-2">
                <input type="radio" name="money" id="100r" ng-click="active=0;rechargeOrder.amount=100">
                <label for="100r"><img src="/img/100.png"></label>
            </div>
            <div class="col-md-2 col-sm-2 form-inline">
                <input type="radio" name="money" ng-click="active=1" id="r">
                <label for="r"><span style="border: 1px solid red;padding: 5px 10px;color: red;cursor: pointer"
                             ng-click="active=1" ng-show="active==0" for="r">输入金额</span></label>
                <input type="text" style="width: 150px" placeholder="输入金额" ng-model="rechargeOrder.amount"
                       ng-show="active==1">元
            </div>
            <div class="col-md-6 col-sm-2">
                <span style="font-family: 'Microsoft YaHei';font-size: 18px;color:#cccccc;font-weight: 100">（请输入整如10元，不能输入10.05元）</span>
            </div>
        </div>
        <hr>
        <p style="padding-left:20px;font-family: 'Microsoft YaHei';font-size: 20px">请选择支付方式：</p>

        <div style="padding:20px 0 0 20px ">
            <label class="zhifubao">
                <b></b>

                <div class="zfb-logo"></div>
            </label>
            <input id="zhifubao" value="false" class="hidden" type="radio" name="pay" value="alipay_pc_direct"
                   ng-model="rechargeOrder.channel">
        </div>
        <hr>
        <div class="text-center" style="padding-bottom: 20px">
            <button class="btn btn-info" style="background-color: #4edbc6;border-color: #4edbc6"
                    ng-click="recharge(rechargeOrder)">立即充值
            </button>
        </div>
    </div>
</div>

<script>
    var toSelect = false;
    $('.zhifubao').on('click', function () {
        if (toSelect == false) {
            $('#zhifubao').prop('checked', "checked");
            $('.zhifubao').css('border', 'solid 2px #E4393C');
            $('.zhifubao b').css('display', 'block');
            toSelect = true;
        } else {
            $('#zhifubao').prop('checked', "");
            $('.zhifubao').css('border', 'dashed 2px darkgray');
            $('.zhifubao b').css('display', 'none');
            toSelect = false;
        }
    })
</script>