<div class="table_outside">
        <ol class="breadcrumb" style="background-color: #4edcc6">
            <li><a ui-sref="main.wallet">我的钱包</a></li>
            <li class="active">交易记录</li>
        </ol>

    <div class=" table_inside">
        <table class="table table-bordered table-hover text-center table-striped">
            <thead style="background-color: #8a8bc4;color:#fff">
            <tr>
                <td id="order_no" ng-click="sort('order_no')">
                    流水号
                    <span ng-show="currentSort['order_no'] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort['order_no'] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </td>
                <td id="amount" ng-click="sort('amount')">
                    金额
                    <span ng-show="currentSort['amount'] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort['amount'] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </td>
                <td id="trade_type" ng-click="sort('trade_type')">
                    交易类型
                    <span ng-show="currentSort['trade_type'] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort['trade_type'] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </td>
                <td id="description" ng-click="sort('description')">
                    详情
                    <span ng-show="currentSort['description'] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort['description'] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </td>
                <td id="create_time" ng-click="sort('create_time')">
                    交易时间
                    <span ng-show="currentSort['create_time'] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort['create_time'] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </td>
                <td id="status" ng-click="sort('status')">
                    交易状态
                    <span ng-show="currentSort['status'] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort['status'] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in grid.results">
                <td ng-bind="t.order_no"></td>
                <td ng-bind="t.amount | currency: '￥'"></td>
                <td ng-bind="t.trade_type"></td>
                <td ng-bind="t.description"></td>
                <td ng-bind="t.create_time | date:'yyyy-MM-dd'"></td>
                <td ng-bind="t.status"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>
</div>