<div>
    <div class="col-xs-3">

    </div>
    <div class="col-xs-6">
        <div>广告：</div>
        <div>
            名称:<input type="text" id="txtName">
        </div>
        <div>
            url:<input type="text" id="txtUrl">
        </div>
        <div>
            平台:<input type="text" id="txtPlatform">
        </div>
        <div style="float:right">
            <input type="button" >
        </div>
    </div>
    <div class="col-xs-3">
    </div>
    <!--<div>-->
        <!--<table>-->
            <!--<thead>-->

            <!--</thead>-->
            <!--<tbody>-->

            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>