<img src="/img/shop_create.png" style="width: 100%;height: 200px">
<div class="panel_outside">
    <ol class="breadcrumb">
        <li><a ui-sref="main.shop_management">店铺管理</a></li>
        <li class="active">新增店铺</li>
    </ol>
    <div class="shop_message">
        <div class="col-md-4">
            <p class="h3">店铺信息</p>

            <div style="cursor: pointer" data-toggle="modal" data-target="#myModal" class="text-center">
                <img id="show_img" src="/img/update_shopimg.jpg" width="100%" height="100%">
                <span style="font-size: 18px;font-family: 'Microsoft YaHei'">上传店铺图片</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-inline">
                <span>店铺名称：</span>
                <input class="form-control" type="text" style="width: 20%" ng-model="shop.name">
            </div>
            <div class="form-inline">
                <span>行业类型：</span>
                <select class="form-control" type="text" style="width: 20%" ng-model="shop.category"
                        ng-options="v.name as v.name for v in category">
                </select>
            </div>
            <div class="form-inline">
                <span>手机号码：</span>
                <input class="form-control" type="text" style="width:20%" ng-model="shop.tel">
            </div>
            <div class="form-inline">
                <span>所属商圈：</span>
                <select class="form-control" style="width: 16%" ng-model="shop.province" ng-options="p.id as p.name for p in provinces">
                    <option value="">--省--</option>
                </select>
                <select class="form-control" style="width: 16%;" ng-model="shop.city" ng-options="c.id as c.name for c in cities">
                    <option value="">--市--</option>
                </select>
                <select class="form-control" style="width: 16%;" ng-model="shop.area" ng-options="a.id as a.name for a in areas">
                    <option value="">--区/县--</option>
                </select>
                <select class="form-control" style="width: 16%;" ng-model="shop.district" ng-options="d.id as d.name for d in districts">
                    <option value="">--商圈--</option>
                </select>
                <input class="form-control" type="text" style="width:20%" ng-model="shop.address">
            </div>
            <div class="form-inline">
                <div id="lbsMapContainer" style="width: 450px; height: 250px;"></div>
            </div>
            <div class="form-inline">
                <span>描述：</span>
                <textarea class="form-control" style="margin-left: 28px;width:50%;height: 150px"
                          ng-model="shop.description"></textarea>
            </div>
            <button class="button button-royal" style="margin: 20px 0 0 74px" ng-click="submit(shop)">提交</button>
        </div>
        <div style="position: absolute;width: 100%;height:20px;bottom:-20px;background: url('/img/create_bottom.png') no-repeat; background-size:100%;"></div>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span style="font-size: 20px;font-family: 'Microsoft YaHei'">店铺图片</span>
                </h4>
            </div>
            <div class="modal-body">
                <input type="file">

                <div id="img_frame" style="width: 100%;height: 100%;padding-top: 20px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save">保存</button>
            </div>
        </div>
    </div>
</div>





