<img src="/img/shop_create.png" style="width: 100%;height: 200px">
<div style="padding:10px;background-color: #f9f9f9;height: 800px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.shop_management">店铺管理</a></li>
        <li class="active">新增店铺</li>
    </ol>

    <div class="shop_message">
        <div style="margin: 0 auto;padding:50px 0 0 25%">
            <p class="h3" style="margin-left: -100px">店铺信息</p>

            <div class="form-inline">
                <span>店铺名称：</span>
                <input class="form-control" type="text" style="margin-left: 32px" ng-model="edit_shop.name">
            </div>
            <div class="form-inline">
                <span>行业类型：</span>
                <select class="form-control" type="text" style="margin-left: 32px;width: 150px" ng-model="edit_shop.category"
                        ng-options="v.name as v.name for v in category">
                </select>
            </div>
            <div class="form-inline">
                <span>手机号码：</span>
                <input class="form-control" type="text" style="margin-left: 32px" ng-model="edit_shop.tel">
            </div>
            <div class="form-inline">
                <span>所属商圈：</span>
                <select class="form-control" style="width: 150px;margin-left: 32px"
                        ng-options="v.id as v.name for v in province" ng-model="edit_shop.trade_area.province_id"
                        ng-change="select_p(shop.province)">
                    <option value="">省</option>
                </select>
                <select class="form-control" style="width: 150px;" ng-options="v.id as v.name for v in city"
                        ng-model="edit_shop.trade_area.city_id" ng-change="select_c(shop.city)">
                    <option value="">市</option>
                </select>
                <select class="form-control" style="width: 150px;" ng-options="v.id as v.name for v in area"
                        ng-model="edit_shop.trade_area.area_id" ng-change="select_a(shop.area)">
                    <option value="">区/县</option>
                </select>
                <select class="form-control" style="width: 150px;" ng-options="v.id as v.name for v in trades"
                        ng-model="edit_shop.trade_area.trade_area_id">
                    <option value="">商圈</option>
                </select>
            </div>
            <div class="form-inline">
                <span>店铺地址：</span>
                <input class="form-control" type="text" style="margin-left: 32px" ng-model="edit_shop.address">
            </div>
            <div class="form-inline">
                <span>描述：</span>
                <textarea class="form-control" style="margin-left: 60px;width:400px" ng-model="edit_shop.description"></textarea>
            </div>
            <button class="btn btn-success " style="margin: 20px 0 0 150px;width: 100px" ng-click="submit(edit_shop)">提交</button>
        </div>
        <div  style="position: absolute;width: 100%;height:20px;bottom:-20px;background: url('/img/create_shop_bottom.png') no-repeat; background-size:100%;"></div>
    </div>

</div>