<div class="panel_outside">
    <div>
        <ol class="breadcrumb">
            <li><a ui-sref="main.shop_management">店铺管理</a></li>
            <li class="active">店铺设备管理</li>
        </ol>
    </div>
    <div class="form-inline search_panel">
        <span style="font-family: 'Microsoft YaHei';font-size: 16px;font-weight: 500">选择路由器：</span>
        <select class="form-control" style="width: 200px" ng-model="bind_router"
                ng-options="v.id as v.mac for v in router">
            <option value="" disabled>MAC码</option>
        </select>
        <button class="button button-royal" style="margin-left: 50px" ng-click="bind_submit()">绑定</button>
    </div>
    <div style="padding: 10px" class="row">
        <div class="col-md-3" ng-repeat="p in shop_routers"
             style="font-family: 'Microsoft YaHei';font-size: 18px;margin-top: 20px">
            <div ng-click="see_routers_details(p.id)" class="shop_panel"
                 style="background-color: #67728D;color: #fff;border-radius: 5px 5px 0 0;cursor: pointer">
                <p><span>设备MAC码：</span><span ng-bind="p.mac"></span></p>

                <p><span>SSID：</span><span ng-bind="p.ssid"></span></p>

                <p style="border: 0"><span>是否在线：</span><span ng-if="p.is_online">在线</span><span
                        ng-if="!p.is_online">离线</span></p>
            </div>
            <div style="width: 100%;line-height: 50px;color:#fff;background-color: #52d0ab;border-radius:0 0 5px 5px;cursor: pointer"
                 class="text-center" ng-click="unbind_submit(p.mac)"><span>解绑</span></div>
        </div>
    </div>
</div>