<div class="top_content">
    <ol class="breadcrumb" style="background-color: #1fbba6">
        <li><a ui-sref="main.shop_management">店铺管理</a></li>
        <li class="active">店铺设备管理</li>
    </ol>
    <div>
        <div><span class="glyphicon glyphicon-map-marker"></span>全部
            <div></div>
        </div>
        <div><span class="glyphicon glyphicon-heart"></span>未查询
            <div></div>
        </div>
        <div><span class="glyphicon glyphicon-user"></span>已查询
            <div></div>
        </div>
        <div><span class="glyphicon glyphicon-cog"></span>未知
            <div></div>
        </div>
    </div>
</div>
<div class="search_panel form-inline">
    <span style="font-family: 'Microsoft YaHei';font-size: 16px;font-weight: 500">选择路由器：</span>
    <select class="form-control" style="width: 200px" ng-model="bind_router" ng-options="v.id as v.mac for v in router">
        <option value="">MAC码</option>
    </select>
    <button class="btn btn-info" style="margin-left: 50px" ng-click="bind_submit()">绑定</button>
</div>
<div style="padding: 10px">
    <a href="javascript:" style="color:#000">
        <div style="width:33.3%;height:250px;background-color: #d5d5d5;float:left;border:1px solid #cccccc;padding:30px 0 0 40px;font-family: 'Microsoft YaHei';font-size: 18px;font-weight: 600;font-weight: 500"
             ng-repeat="p in shop_routers">
            <div ng-click="see_routers_details(p.id)">
                <div>
                    <span>设备MAC码：</span>
                    <span ng-bind="p.mac"></span>
                </div>
                <div style="margin-top:15px">
                    <span>SSID：</span>
                    <span ng-bind="p.ssid"></span>
                </div>
                <div style="margin-top:15px">
                    <span>是否在线：</span>
                    <span ng-bind="p.is_online"></span>
                </div>
                <div style="margin-top:15px">
                    <span>手机号码：</span>
                    <span ng-bind="p.tel">13546254784</span>
                </div>
            </div>
            <button class="btn btn-danger" style="margin-top: 15px" ng-click="unbind_submit(p.mac)">解绑</button>
        </div>
    </a>
</div>