<div class="panel_outside">
<div>
    <ol class="breadcrumb">
        <li class="active">店铺管理</li>
    </ol>
</div>

<div class="form-inline search_panel">
    <button class="button button-royal button-rounded" ui-sref="main.create_shop"><i class="fa fa-plus"></i>&nbsp&nbsp新建</button>
</div>
<div style="padding: 10px" class="row">
        <div class="col-md-3" ng-repeat="p in shop" style="color:#fff;font-family: 'Microsoft YaHei';font-size: 18px;margin-top: 20px">
            <a href="javascript:" style="color:#fff">
            <div ng-click="see_routers(p.id)" style="background-color: #67728D;box-shadow: 0 0 10px #dedede;border-radius: 5px;width:93%;height: 450px;float: left">
                <p ng-bind="p.name" style="background-color: #52D0AB;padding: 10px 0;border-radius:5px 5px 0 0" class="text-center"></p>
                <div style="width: 100%;height: 150px;padding:15px 30px 0">
                    <img ng-src="{{p.img}}" style="width: 100%;height: 100%">
                </div>
                <div class="shop_panel">
                    <img src="/img/shop_lines.png" style="width: 100%;margin-top: -30px">
                    <p><span>行业类型：</span><span ng-bind="p.category"></span></p>
                    <p><span>手机号码：</span><span ng-bind="p.tel"></span></p>
                    <p><span>所属商圈：</span><span ng-bind="p.province_object.name+' '+p.city_object.name+' '+p.area_object.name+' '+p.district_object.name"></span></p>
                    <p style="border: 0"><span>店铺地址：</span><span ng-bind="p.address"></span></p>
                </div>
            </div>
            </a>
            <div style="width: 7%;height: 450px;float: left;font-size: 14px">
                <div style="width: 100%;max-width:26px;height: 130px;margin-top: 25px;background-color: #fb874e;cursor: pointer;border-radius: 0 5px 5px 0;padding: 5px 0" class="text-center" ng-click="editShopIndex(p.id)">
                    店铺主页编辑
                </div>
                <div style="width: 100%;max-width:26px;height: 130px;margin-top: 25px;background-color: #49bdac;cursor: pointer;border-radius: 0 5px 5px 0;padding: 5px 0" class="text-center" ng-click="edit_shop(p.id)">
                    修改店铺信息
                </div>
                <div style="width: 100%;max-width:26px;height: 90px;margin-top: 25px;background-color: #fadb4c;cursor: pointer;border-radius: 0 5px 5px 0;padding: 5px 0" class="text-center" ng-click="delete_shop(p.id)">
                    删除店铺
                </div>
            </div>
        </div>

</div>


</div>