<div style="width: 50%;margin: 0 auto">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#wechat_create" aria-controls="wechat_create" role="tab"
                                                  data-toggle="tab">新建</a>
        </li>
        <li role="presentation"><a href="#wechat_edit" aria-controls="wechat_edit" role="tab" data-toggle="tab">修改</a>
        </li>
    </ul>
    <div class="tab-content" style="padding-left: 25%">
        <div class="tab-pane active" id="wechat_create">
            <div class="form-inline">
                <span>AppID:</span>
                <input type="text" class="form-control" ng-model="weixin_create.app_id"
                       style="width: 300px;margin-left: 51px">
            </div>
            <div class="form-inline">
                <span>AppSecretKey:</span>
                <input type="text" class="form-control" ng-model="weixin_create.app_secret_key" style="width: 300px">
            </div>
            <div class="form-inline">
                <span>原始ID:</span>
                <input type="text" class="form-control" ng-model="weixin_create.origin_id"
                       style="width: 300px;margin-left: 48px">
            </div>
            <div style="margin-left: -25%;padding-top: 30px" class="text-center">
                <button class="btn btn-info" ng-click="submit(weixin_create)">提交</button>
            </div>
        </div>
        <div class="tab-pane" id="wechat_edit">
            <div class="form-inline">
                <span>AppID:</span>
                <input type="text" class="form-control" ng-model="weixin_edit.app_id"
                       style="width: 300px;margin-left: 51px">
            </div>
            <div class="form-inline">
                <span>AppSecretKey:</span>
                <input type="text" class="form-control" ng-model="weixin_edit.app_secret_key" style="width: 300px">
            </div>
            <div class="form-inline">
                <span>原始ID:</span>
                <input type="text" class="form-control" ng-model="weixin_edit.origin_id"
                       style="width: 300px;margin-left: 48px">
            </div>
            <div style="margin-left: -25%;padding-top: 30px" class="text-center">
                <button class="btn btn-info" ng-click="submit1(weixin_edit)">提交</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='#wechat_create']").click(function (e) {
        e.preventDefault();
    });
    $("a[href='#wechat_edit']").click(function (e) {
        e.preventDefault();
    })
</script>