<div class="table_outside">
    <ol class="breadcrumb">
        <li class="active">广告分账</li>
    </ol>

    <div class="row" style="margin-top: 50px; padding: 20px">
        <div class="col-md-4">
            上月结算总额:<span ng-bind="totalCash| currency: '￥'"></span>
        </div>
        <div class="col-md-4">
            设备数量:<span ng-bind="grid.count"></span>
        </div>
    </div>

        <div class="table_inside">
            <table class="table table-bordered table-hover text-center table-striped">
                <thead>
                <tr>
                    <td id="ssid" ng-click="sort('ssid')">
                        设备SSID
                        <span ng-show="currentSort['ssid'] === true"
                              class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="currentSort['ssid'] === false"
                              class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                    <td id="mac" ng-click="sort('mac')">
                        设备MAC
                        <span ng-show="currentSort['mac'] === true"
                              class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="currentSort['mac'] === false"
                              class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                    <td id="router_groups__name" ng-click="sort('router_groups__name')">
                        店铺名称
                        <span ng-show="currentSort['router_groups__name'] === true"
                              class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="currentSort['router_groups__name'] === false"
                              class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                    <td id="cash" ng-click="sort('cash')">
                        上月结算分成
                        <span ng-show="currentSort['cash'] === true"
                              class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="currentSort['cash'] === false"
                              class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in grid.results">
                    <td>
                        <a href="#/main/routers_details?id={{i.id}}"><span
                                ng-bind="i.ssid"></span></a>
                    </td>
                    <td>
                        <a href="#/main/routers_details?id={{i.id}}"><span
                                ng-bind="i.mac"></span></a>
                    </td>
                    <td><a href="#/main/shop_management_routers?id={{i.router_groups.id}}"><span
                            ng-bind="i.router_groups.name"></span></a></td>
                    <td ng-bind="i.cash | currency: '￥'"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #D9D9D9"></div>
</div>