<div class="panel_outside row">
    <ol class="breadcrumb">
        <li><a ui-sref="main.business-manage">商户管理</a></li>
        <li class="active">新增商户账号</li>
    </ol>

    <div class="agent_message table_inside">
        <p class="h3 text-center">个人信息</p>

        <div class="form-inline" style="margin-top: 15px">
            <span>登录账号：</span>
            <input class="form-control" type="text" ng-model="business.tel" ng-blur="check_tel()" id="tel"
                   placeholder="手机号码">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>登录密码：</span>
            <input class="form-control" type="password" ng-model="pass">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>确认密码：</span>
            <input class="form-control" type="password" ng-model="business.password" ng-blur="check_password()">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>法人姓名：</span>
            <input class="form-control" type="text" ng-model="business.legal_person_name">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>商户名称：</span>
            <input class="form-control" type="text" ng-model="business.name">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>身份证号：</span>
            <input class="form-control" type="text" ng-model="business.id_card" ng-blur="check_idCard()">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>居住地址：</span>
            <select class="form-control" style="width:196px;" ng-options="v.id as v.name for v in provinces"
                    ng-model="business.province" ng-change="select_p(business.province)">
                <option value="">--省--</option>
            </select>
            <select class="form-control" style="width:196px;" ng-options="v.id as v.name for v in cities"
                    ng-model="business.city" ng-change="select_c(business.city)">
                <option value="">--市--</option>
            </select>
            <select class="form-control" style="width:196px;" ng-options="v.id as v.name for v in areas"
                    ng-model="business.area">
                <option value="">--区--</option>
            </select>
            <input class="form-control" type="text" placeholder="街道地址" ng-model="business.address_additional">
        </div>

        <p class="text-center" style="margin-top: 15px">
            <button class="button button-royal" ng-click="submit()">提交</button>
        </p>
    </div>
</div>