<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.business-manage">商户管理</a></li>
        <li class="active">新增商户账号</li>
    </ol>

    <div  class="agent_message col-md-12">
        <p class="h3">个人信息</p>

        <div class="form-inline" style="margin-top: 15px">
            <span>登录账号：</span>
            <input class="form-control" type="text" ng-model="business.tel" ng-blur="check_tel()" id="tel"
                   placeholder="手机号码">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>登录密码：</span>
            <input class="form-control" type="password" ng-model="pass">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>确认密码：</span>
            <input class="form-control" type="password" ng-model="business.password" ng-blur="check_password()">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>姓名：</span>
            <input class="form-control" type="text" style="margin-left: 28px" ng-model="business.legal_person_name">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>身份证号：</span>
            <input class="form-control" type="text" ng-model="business.id_card" ng-blur="check_idCard()">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>居住地址：</span>
            <select class="form-control" style="width:196px;" ng-options="v.id as v.name for v in province1"
                    ng-model="business.province_live" ng-change="select_p(business.province_live)">
                <option value="">--省--</option>
            </select>
            <select class="form-control" style="width:196px;" ng-options="v.id as v.name for v in city1"
                    ng-model="business.city_live" ng-change="select_c(business.city_live   )">
                <option value="">--市--</option>
            </select>
            <select class="form-control" style="width:196px;" ng-options="v.id as v.name for v in area1"
                    ng-model="business.area_live">
                <option value="">--区--</option>
            </select>
            <input class="form-control" type="text" placeholder="街道地址" ng-model="business.address_additional">
        </div>

        <button class="btn btn-success " style="margin: 20px 0 0 150px;width: 100px" ng-click="submit()">提交</button>
    </div>
</div>