<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            省:<select><option value="">请选择</option></select>市:<select><option value="">请选择</option></select>区:<select><option value="">请选择</option></select>
            <button>查询</button><button>新增</button>
        </div>
        <div class="col-xs-12">
            <table class="table table-striped">
                <tr>
                    <td>开放地区</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>四川省成都市</td>
                    <td><button>删除</button></td>
                </tr>
                <tr>
                    <td>山东省淄博市三圣乡 <span class="hidden">产品经理是傻逼</span></td>
                    <td><button>删除</button></td>
                </tr>
            </table>
            <p class="text-center">分页</p>
        </div>
    </div>
</div>