<div class="row  table_outside">
    <ol class="breadcrumb">
        <li>JS广告管理</li>
        <li class="active">开放地区</li>
    </ol>
    <div class="table_inside col-md-12">
        <div class="form-inline">
            <label class="control-label">地区：</label>
            <select ng-options="v.id as v.name for v in provinces" ng-model="openArea.province"
                    ng-change="select_p(openArea.province)" class="form-control">
                <option value="">--省--</option>
            </select>

            <select ng-options="v.id as v.name for v in citys" ng-model="openArea.city"
                    ng-change="select_c(openArea.city)" class="form-control">
                <option value="">--市--</option>
            </select>
            <select ng-options="v.id as v.name for v in areas" ng-model="openArea.area"
                    ng-change="select_a(openArea.area)" class="form-control">
                <option value="">--区--</option>
            </select>
            <select ng-options="v.id as v.name for v in trades" ng-model="openArea.trade" class="form-control">
                <option value="">--商圈--</option>
            </select>
            <button class="button button-royal">查询</button>
            <button class="button button-royal" ng-click="put_area(openArea)">新增</button>
        </div>
            <table class="table text-center table-striped table-bordered">
                <thead style="background-color: #8a8bc4;color:#fff">
                <tr>
                    <td>开放地区</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in grid.results">
                    <td>四川省成都市</td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete_area(p.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>

</div>