<div class="container-fluid">
    <div class="row">
        <input type="text"/><button>查询</button><button>新增</button>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <td>url域名</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>baidu.com</td>
                <td><button>删除</button></td>
            </tr>
            <tr>
                <td>taobao.com</td>
                <td><button>删除</button></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>查询为模糊查询</p>
            <p>设置域名之后，该域名下的所有域名均为白名单</p>
        </div>
    </div>
</div>