<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/apps/app.index.js"></script>

</head>
<body ng-app="iCloudApp">
<h1>AngularJS Home Page (Ui-router Demonstration)</h1>

<div ui-view=""></div>
</body>
</html>