<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li class="active">路由器详情</li>
    </ol>
    <div class="form-inline">
        <button ng-click="chazhao()" class="btn btn-info">认证设置</button>
        <button ng-click="chazhao()" class="btn btn-info">放行设置</button>
        <button ng-click="chazhao()" class="btn btn-info">删除</button>
    </div>
    <div class="eq_m1">
        <span class="h3">MAC码：</span>
        <span class="h3">xxxx</span>
        <hr>
        <span>激活状态：</span> <span>已激活</span>
        <span style="margin-left: 50px">激活时间：</span> <span>2015-10-15 17:50</span>
        <hr>
        <span>运行状态：</span> <span>正常运行</span>
        <button class="btn btn-danger">停止</button>
        <hr>
        <span>所属商家：</span><span>张三</span>
        <hr>
        <span>所属店铺：</span><span>红旗连锁</span>
        <span style="margin-left: 50px">店铺地址：</span><span>四川省 成都市 锦江区 春熙路123号</span>
        <button class="btn btn-info">解绑</button>
        <hr>
        <span>所属代理商：</span><span>大新前路商代</span>
    </div>
    <div style="margin-top: 20px">
        <span class="h3">运行情况:</span>
    </div>
    <hr style="margin-top: 10px">
    <span>总访问量：</span><span>125445</span>
    <span style="margin-left: 50px">今日访问量：</span><span>3356</span>
    <hr style="margin-top: 10px">
    <label for="meeting">日期：</label><input id="meeting" type="date" value="2014-01-13"/>

</div>