<div style="padding:10px">
    <ol class="breadcrumb">
        <li class="active">设备管理</li>
    </ol>
    <div class="eq_m">
        <div class="form-inline">
            <span>店铺：</span>
            <input type="text" class="form-control" placeholder="商铺名称" style="width: 15% !important;" ng-model="search.groups__name__icontains">
            <select class="form-control" ng-model="search.groups__category" style="width: 15% !important;" ng-options="v.name as v.name for v in category">
                <option value="">选择行业</option>
            </select>
            <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
            <!--<input type="date" class="form-control" style="width: 15% !important;" ng-model="search.create_time__gte">-->
            <!--<button class="btn btn-info" ng-click="eq_search(search)">查询</button>-->
            <div>
                <span>地区：</span>
                <select class="form-control" style="width: 15% !important;" ng-model="search.groups__trade__province" ng-options="v.id as v.name for v in province1" ng-change="select_p(search.groups__trade__province)">
                    <option value="">省</option>
                </select>
                <select class="form-control" style="width: 15% !important;" ng-model="search.groups__trade__city" ng-options="v.id as v.name for v in city1" ng-change="select_c(search.groups__trade__city)">
                    <option value="">市</option>
                </select>
                <select class="form-control" style="width: 15% !important;" ng-model="search.groups__trade__area" ng-options="v.id as v.name for v in area1">
                    <option value="">区/县</option>
                </select>
            </div>
            <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
            <div>
                <span>路由：</span>
                <input class="form-control" placeholder="MAC码" ng-model="search.mac__icontains">
            </div>
            <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
            <div>
                <span>时间：</span>
                <input type="date" class="form-control" ng-model="search.create_time__gte"><span style="margin-left:5px">到</span>
                <input type="date" class="form-control" ng-model="search.create_time__lte">
                <button class="btn btn-info pull-right" ng-click="eq_reset()">重置</button>
                <button class="btn btn-info pull-right" style="margin-right: 10px" ng-click="eq_search(search)">搜索</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px">
        <span>数量：</span>
        <span ng-bind="grid.count"></span>
    </div>
    <table class="table table-bordered text-center table-striped" style="margin-top: 20px" id="table-eq">
        <thead>
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td>商铺名称</td>
            <td>行业</td>
            <td>地区</td>
            <td>认证方式</td>
            <td>MAC码</td>
            <td>入库时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in grid.results">
            <td><input type="checkbox"></td>
            <td ng-bind="p.router_groups.name"></td>
            <td ng-bind="p.router_groups.category"></td>
            <td ng-bind="p.router_groups.trade_area.province+p.router_groups.trade_area.city+p.router_groups.trade_area.area+p.router_groups.trade_area.name"></td>
            <td ng-bind="p.isonline"></td>
            <td ng-bind="p.mac"></td>
            <td ng-bind="p.create_time"></td>
            <td><a ui-sref="main.details" ng-click="search_details(p)">查看</a><a style="margin-left: 10px" href="" ng-click="jiebang()">解绑</a></td>
        </tr>
        </tbody>
    </table>
    <div ng-include="'/template/partial/pagination.html'" style="margin-top: 20px"></div>
</div>