<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li class="active">进销存</li>
    </ol>
    <table class="table table-bordered text-center table-striped" style="margin-top: 20px">
        <thead>
        <tr>
            <td>型号</td>
            <td>数量</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A380</td>
            <td>115</td>
        </tr>
        <tr>
            <td>A380</td>
            <td>115</td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-info">入库</button>
        <button class="btn btn-info">出库</button>
        <button class="btn btn-info">查看MAC码</button>
    </div>
</div>