<div style="padding: 10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li class="active">放行设置</li>
    </ol>
    <button class="btn btn-info" data-toggle="collapse" data-target="#advanced_search" aria-expanded="false"  aria-controls="advanced_search">高级搜索</button>
    <div class=" collapse" id="advanced_search">
        <div class=" well">
        <div class="form-inline">
            <span>店铺：</span>
            <input type="text" class="form-control" placeholder="商铺名称" style="width: 15% !important;" ng-model="search.groups__name__icontains">
            <select class="form-control" ng-model="search.groups__category" style="width: 15% !important;" ng-options="v.name as v.name for v in category">
                <option value="">选择行业</option>
            </select>
            <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
            <!--<input type="date" class="form-control" style="width: 15% !important;" ng-model="search.create_time__gte">-->
            <!--<button class="btn btn-info" ng-click="eq_search(search)">查询</button>-->
            <div>
                <span>地区：</span>
                <select class="form-control" style="width: 15% !important;" ng-model="search.groups__trade__province" ng-options="v.id as v.name for v in province1" ng-change="select_p(search.groups__trade__province)">
                    <option value="">省</option>
                </select>
                <select class="form-control" style="width: 15% !important;" ng-model="search.groups__trade__city" ng-options="v.id as v.name for v in city1" ng-change="select_c(search.groups__trade__city)">
                    <option value="">市</option>
                </select>
                <select class="form-control" style="width: 15% !important;" ng-model="search.groups__trade__area" ng-options="v.id as v.name for v in area1">
                    <option value="">区/县</option>
                </select>
            </div>
            <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
            <div>
                <span>路由：</span>
                <input class="form-control" placeholder="MAC码" ng-model="search.mac__icontains">
            </div>
            <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
            <div>
                <span>时间：</span>
                <input type="date" class="form-control" ng-model="search.create_time__gte"><span style="margin-left:5px">到</span>
                <input type="date" class="form-control" ng-model="search.create_time__lte">
                <button class="btn btn-info pull-right" ng-click="eq_reset()">重置</button>
                <button class="btn btn-info pull-right" style="margin-right: 10px" ng-click="eq_search(search)">搜索</button>
            </div>
        </div>
        </div>
    </div>
    <div style="margin-top: 20px">
        <span>所有路由器数量：</span><span class="text-muted">5</span>
        <span style="margin-left: 20px">已使用：</span><span class="text-muted">2</span>
        <span style="margin-left: 20px">未使用：</span><span class="text-muted">3</span>
    </div>

    <table class="table table-bordered text-center table-striped" style="margin-top: 20px" id="table-eq">
        <thead>
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td>商铺名称</td>
            <td>行业</td>
            <td>地区</td>
            <td>认证方式</td>
            <td>MAC码</td>
            <td>入库时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in grid.results">
            <td><input type="checkbox" value="{{p.id}}"></td>
            <td ng-bind="p.router_groups.name"></td>
            <td ng-bind="p.router_groups.category"></td>
            <td ng-bind="p.router_groups.trade_area.province+p.router_groups.trade_area.city+p.router_groups.trade_area.area+p.router_groups.trade_area.name"></td>
            <td ng-bind="p.isonline"></td>
            <td ng-bind="p.mac"></td>
            <td ng-bind="p.create_time"></td>
            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="conf_s(p.mac)">设置</button></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <!--<button class="btn btn-info">回收权限</button>-->
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="conf()">设置</button>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="margin-top: 20px"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-if="is_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">放行设置</h4>
            </div>
            <div class="modal-body">
                    <span>白名单：</span>
                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>
                    <div style="width:50%;border-right: 1px dotted #cccccc;display: inline-block">
                        <p style="margin-top: 10px">设备MAC码</p>
                        <p>设备不受登录次数限制</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active" ng-click="mac_open(false )">
                                <input type="radio" name="options" id="option1" autocomplete="off"> 开
                            </label>
                            <label class="btn btn-info"  ng-click="mac_down(false)">
                                <input type="radio" name="options" id="option2" autocomplete="off"> 关
                            </label>
                        </div>
                        <div>
                            <span>现有</span><span ng-bind="white_mac"></span><span>个设备</span>
                            <button class="btn btn-info" ng-click="addMac(false)">添加</button>
                        </div>
                    </div>
                    <div style="display: inline-block">
                        <p style="margin-top: 10px">域名</p>
                        <p>认证前即可访问的域名</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active"  ng-click="domain_open(false)">
                                <input type="radio" name="options" id="option3" autocomplete="off"> 开
                            </label>
                            <label class="btn btn-info"  ng-click="domain_down(false)">
                                <input type="radio" name="options" id="option4" autocomplete="off"> 关
                            </label>
                        </div>
                        <div>
                            <span>现有</span><span ng-bind="white_domain"></span><span>个域名</span>
                            <button class="btn btn-info" ng-click="addDomain(false)">添加</button>
                        </div>
                    </div>
                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>

                <p style="margin-top: 10px">黑名单：</p>
                <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>
                <div style="width:50%;border-right: 1px dotted #cccccc;display: inline-block">
                    <p style="margin-top: 10px">设备MAC码</p>
                    <p>设备不能上网</p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active" ng-click="mac_open(true)">
                            <input type="radio" name="options" id="option5" autocomplete="off"> 开
                        </label>
                        <label class="btn btn-info"  ng-click="mac_down(true)">
                            <input type="radio" name="options" id="option6" autocomplete="off"> 关
                        </label>
                    </div>
                    <div>
                        <span>现有</span><span ng-bind="black_mac"></span><span>个设备</span>
                        <button class="btn btn-info" ng-click="addMac(true)">添加</button>
                    </div>
                </div>
                <div style="display: inline-block">
                    <p style="margin-top: 10px">域名</p>
                    <p>域名不可访问</p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active"  ng-click="domain_open(true)">
                            <input type="radio" name="options" id="option7" autocomplete="off"> 开
                        </label>
                        <label class="btn btn-info" ng-click="domain_down(true)">
                            <input type="radio" name="options" id="option8" autocomplete="off"> 关
                        </label>
                    </div>
                    <div>
                        <span>现有</span><span ng-bind="black_domain"></span><span>个域名</span>
                        <button class="btn btn-info" ng-click="addDomain(true)">添加</button>
                    </div>
                </div>
                <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>

            </div>
        </div>
    </div>
</div>
<script>
    $("#advanced_search").click(function(e){
        e.preventDefault();
    });
</script>