<div style="padding: 10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li><a ui-sref="main.details">路由器详情</a></li>
        <li class="active">放行设置</li>
    </ol>
    <div class="eq_m">
        <div class="form-inline">
            <select class="form-control">
                <option>MAC码</option>
                <option>入库时间</option>
                <option>商铺名称</option>
                <option>行业</option>
                <option>地区</option>
                <option>运行状态</option>
            </select>
            <input class="form-control" placeholder="请输入关键字搜索">
            <button class="btn btn-info">搜索</button>
        </div>
        <hr>
        <div class="form-inline">
            <span>使用状态：</span>
            <div class="radio">
                <input type="radio" id="use" name="use_status" ng-click="route(1)">
                <label for="use"><span>已使用路由器</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="nouse" name="use_status" ng-click="route(2)">
                <label for="nouse"><span>未使用路由器</span></label>
            </div>
            <span style="margin-left: 50px">运行状态：</span>
            <div class="radio">
                <input type="radio" id="normal" name="run_status">
                <label for="normal"><span>正常</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="stop" name="run_status">
                <label for="stop"><span>停用</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="pause" name="run_status">
                <label for="pause"><span>暂停</span></label>
            </div>

            <button class="chazhao" ng-click="chazhao()" style="margin-left: 50px">按地区查找</button>
            <button class="chazhao" ng-click="chazhao()">按入库时间查找</button>
            <button class="chazhao" ng-click="chazhao()">按行业查找</button>
        </div>
    </div>
    <div style="margin-top: 20px">
        <span>所有路由器数量：</span><span class="text-muted">5</span>
        <span style="margin-left: 20px">已使用：</span><span class="text-muted">2</span>
        <span style="margin-left: 20px">未使用：</span><span class="text-muted">3</span>
    </div>

    <table class="table table-bordered text-center table-striped" style="margin-top: 20px" id="table-eq">
        <thead>
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td>MAC码</td>
            <td>入库时间</td>
            <td>商铺名称</td>
            <td>行业</td>
            <td>地区</td>
            <td>认证方式</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in grid.results">
            <td><input type="checkbox"></td>
            <td ng-bind="p.mac"></td>
            <td ng-bind="p.create_time"></td>
            <td ng-bind="p.router_group.name"></td>
            <td ng-bind="p.router_group.category"></td>
            <td ng-bind="p.router_group.trade_area.name"></td>
            <td ng-bind="p.isonline"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button class="btn btn-info">回收权限</button>
        <button class="btn btn-info">设置</button>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="margin-top: 20px"></div>
</div>