<div style="padding: 10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li class="active">放行设置</li>
    </ol>
    <div class="eq_m">
        <div class="form-inline">
            <select class="form-control">
                <option>MAC码</option>
                <option>入库时间</option>
                <option>商铺名称</option>
                <option>行业</option>
                <option>地区</option>
                <option>运行状态</option>
            </select>
            <input class="form-control" placeholder="请输入关键字搜索">
            <button class="btn btn-info">搜索</button>
        </div>
        <hr>
        <div class="form-inline">
            <span>使用状态：</span>

            <div class="radio">
                <input type="radio" id="use" name="use_status" ng-click="route(1)">
                <label for="use"><span>已使用路由器</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="nouse" name="use_status" ng-click="route(2)">
                <label for="nouse"><span>未使用路由器</span></label>
            </div>
            <span style="margin-left: 50px">运行状态：</span>

            <div class="radio">
                <input type="radio" id="normal" name="run_status">
                <label for="normal"><span>正常</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="stop" name="run_status">
                <label for="stop"><span>停用</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="pause" name="run_status">
                <label for="pause"><span>暂停</span></label>
            </div>

            <button class="chazhao" ng-click="chazhao()" style="margin-left: 50px">按地区查找</button>
            <button class="chazhao" ng-click="chazhao()">按入库时间查找</button>
            <button class="chazhao" ng-click="chazhao()">按行业查找</button>
        </div>
    </div>
    <div style="margin-top: 20px">
        <span>所有路由器数量：</span><span class="text-muted">5</span>
        <span style="margin-left: 20px">已使用：</span><span class="text-muted">2</span>
        <span style="margin-left: 20px">未使用：</span><span class="text-muted">3</span>
    </div>

    <table class="table table-bordered text-center table-striped" style="margin-top: 20px" id="table-eq">
        <thead>
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td>MAC码</td>
            <td>入库时间</td>
            <td>商铺名称</td>
            <td>行业</td>
            <td>地区</td>
            <td>认证方式</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in grid.results">
            <td><input type="checkbox" ng-click="addId(p.id,$index)"><span ng-bind="p.id" style="display: none"></span></td>
            <td ng-bind="p.mac"></td>
            <td ng-bind="p.create_time"></td>
            <td ng-bind="p.router_group.name"></td>
            <td ng-bind="p.router_group.category"></td>
            <td ng-bind="p.router_group.trade_area.name"></td>
            <td ng-bind="p.isonline"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button class="btn btn-info">回收权限</button>
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="conf(p)">设置</button>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="margin-top: 20px"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                    <span>白名单：</span>
                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>
                    <div style="width:50%;border-right: 1px dotted #cccccc;display: inline-block">
                        <p style="margin-top: 10px">设备MAC码</p>
                        <p>设备不受登录次数限制</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="options" id="option1" autocomplete="off" ng-click="mac_open(false )"> 开
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="options" id="option2" autocomplete="off" ng-click="mac_down(false)"> 关
                            </label>
                        </div>
                        <div>
                            <span>现有</span><span ng-bind="white_mac"></span><span>个设备</span>
                            <button class="btn btn-info" ng-click="addMac(false)">添加</button>
                        </div>
                    </div>
                    <div style="display: inline-block">
                        <p style="margin-top: 10px">域名</p>
                        <p>认证前即可访问的域名</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="options" id="option3" autocomplete="off" ng-click="domain_open(false)"> 开
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="options" id="option4" autocomplete="off" ng-click="domain_down(false)"> 关
                            </label>
                        </div>
                        <div>
                            <span>现有</span><span ng-bind="white_domain"></span><span>个域名</span>
                            <button class="btn btn-info" ng-click="addDomain(false)">添加</button>
                        </div>
                    </div>
                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>

                <p style="margin-top: 10px">黑名单：</p>
                <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>
                <div style="width:50%;border-right: 1px dotted #cccccc;display: inline-block">
                    <p style="margin-top: 10px">设备MAC码</p>
                    <p>设备不能上网</p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active" ng-click="mac_open(true)">
                            <input type="radio" name="options" id="option5" autocomplete="off"> 开
                        </label>
                        <label class="btn btn-info"  ng-click="mac_down(true)">
                            <input type="radio" name="options" id="option6" autocomplete="off"> 关
                        </label>
                    </div>
                    <div>
                        <span>现有</span><span ng-bind="black_mac"></span><span>个设备</span>
                        <button class="btn btn-info" ng-click="addMac(true)">添加</button>
                    </div>
                </div>
                <div style="display: inline-block">
                    <p style="margin-top: 10px">域名</p>
                    <p>域名不可访问</p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input type="radio" name="options" id="option7" autocomplete="off" ng-click="domain_open(true)"> 开
                        </label>
                        <label class="btn btn-info">
                            <input type="radio" name="options" id="option8" autocomplete="off" ng-click="domain_down(true)"> 关
                        </label>
                    </div>
                    <div>
                        <span>现有</span><span ng-bind="black_domain"></span><span>个域名</span>
                        <button class="btn btn-info" ng-click="addDomain(true)">添加</button>
                    </div>
                </div>
                <div style="border-top: 1px dotted #cccccc;margin-top: 10px;"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>