<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li class="active">版本管理</li>
    </ol>
    <table class="table table-bordered table-striped text-center">
        <thead>
        <tr>
            <td>最新版本</td>
            <td>说明</td>
            <td>发布日期</td>
            <td>发布人</td>
            <td>升级数量/路由器总数</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>V3.0</td>
            <td>修复掉线问题</td>
            <td>2015-10-01</td>
            <td>某某</td>
            <td>100/1000</td>
            <td><a ui-sref="main.firmware_update">升级</a></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <table class="table table-bordered table-striped text-center">
        <thead>
        <tr>
            <td>历史版本</td>
            <td>说明</td>
            <td>发布日期</td>
            <td>发布人</td>
            <td>升级数量/路由器总数</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>V2.1</td>
            <td>修复掉线问题</td>
            <td>2015-10-01</td>
            <td>某某</td>
            <td>100/1000</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td>V2.0</td>
            <td>修复掉线问题</td>
            <td>2015-10-01</td>
            <td>某某</td>
            <td>100/1000</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td>V1.0</td>
            <td>修复掉线问题</td>
            <td>2015-10-01</td>
            <td>某某</td>
            <td>100/1000</td>
            <td><a href="">升级</a></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-info pull-right">上传固件</button>
</div>