<div style="padding: 10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li class="active">设备绑定</li>
    </ol>
    <p class="h3">MAC码</p>

    <div class="mac_back">
        <span>124-1254577841112255</span>
    </div>
    <p class="h3">绑定店铺</p>

    <div class="form-inline">
        <select class="form-control" style="width: 350px !important;">
            <option>选择商户（该商户为代理商创建的商户账号）</option>
            <option>2</option>
        </select>
        <button class="btn btn-info">搜索</button>
    </div>
    <div class="binding_shangjia">
        <p>
            <span>商户账号：</span><span>xxx</span>
        </p>

        <p>
            <span>商户姓名：</span><span>张三</span>
        </p>

        <p>
            <span>身份证号：</span><span>510154894512548756</span>
        </p>

        <div style="border-top: 1px dotted"></div>
        <p style="margin-top: 10px">
            <span>选择需要绑定的商铺</span>
        </p>
        <div class="form-inline">
            <div class="radio">
                <input type="radio" id="shangpu1" name="addr">
                <label for="shangpu1"><span>红旗连锁</span></label>
                <span style="margin-left: 50px">地址：四川省 成都市 锦江区 春熙路</span>
            </div>
        </div>
        <div class="form-inline">
            <div class="radio">
                <input type="radio" id="shangpu2" name="addr">
                <label for="shangpu2"><span>红旗连锁</span></label>
                <span style="margin-left: 50px">地址：四川省 成都市 锦江区 提督街</span>
            </div>
        </div>
    </div>
    <button class="btn btn-info" style="margin-top:10px">绑定</button>
    <div class="mac_back">
        <span>没有找到商户信息，您可以新创建一个商户账号</span>
        <button class="btn btn-info">创建账号</button>
    </div>
</div>