<div class="table_outside">
        <ol class="breadcrumb">
            <li class="active">设备管理</li>
        </ol>

    <div class="form-inline search_panel">
        <a href="#/main/new-device" ng-if="deviceManage.addRouterMenu" class="btn btn-info">添加设备</a>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#advanced_search" aria-expanded="false" aria-controls="advanced_search">高级搜索 </button>
        <div class="collapse" id="advanced_search">
            <div class="well">
                <div class="form-inline">
                    <span>店铺：</span>
                    <input type="text" class="form-control" placeholder="商铺名称" style="width: 15% !important;"
                           ng-model="search.groups__name__icontains">
                    <select class="form-control" ng-model="search.router_groups__category" style="width: 15% !important;"
                            ng-options="v.name as v.name for v in category">
                        <option value="">选择行业</option>
                    </select>

                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
                    <div>
                        <span>地区：</span>
                        <select class="form-control" style="width: 15% !important;"
                                ng-model="search.router_groups__trade__province" ng-options="v.id as v.name for v in province1"
                                ng-change="select_p(search.router_groups__trade__province)">
                            <option value="">省</option>
                        </select>
                        <select class="form-control" style="width: 15% !important;" ng-model="search.router_groups__trade__city"
                                ng-options="v.id as v.name for v in city1" ng-change="select_c(search.router_groups__trade__city)">
                            <option value="">市</option>
                        </select>
                        <select class="form-control" style="width: 15% !important;" ng-model="search.router_groups__trade__area"
                                ng-options="v.id as v.name for v in area1">
                            <option value="">区/县</option>
                        </select>
                    </div>
                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
                    <div>
                        <span>路由：</span>
                        <input class="form-control" placeholder="MAC码" ng-model="search.mac__icontains">
                    </div>
                    <div style="border-top: 1px dotted #cccccc;margin-top: 10px;padding-bottom: 9px"></div>
                    <div>
                        <span>时间：</span>
                        <input type="date" class="form-control" ng-model="search.create_time_start__gte"><span
                            style="margin-left:5px">到</span>
                        <input type="date" class="form-control" ng-model="search.create_time_end__lte">
                        <button class="btn btn-info pull-right" ng-click="eq_reset()">重置</button>
                        <button class="btn btn-info pull-right" style="margin-right: 10px" ng-click="eq_search(search)">搜索
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table_inside">
        <table class="table table-bordered text-center table-striped table-hover" id="table-eq">
            <thead>
            <tr>
                <!--<td>-->
                    <!--<a href="javascript:" ng-click="checkAll()">全选</a>-->
                    <!--<a href="javascript:" ng-click="checkInverse()">反选</a>-->
                <!--</td>-->
                <td id="router_groups__name">商铺名称</td>
                <td id="router_groups_category">行业</td>
                <td>地区</td>
                <td>认证方式</td>
                <td>MAC码</td>
                <td>入库时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in grid.results">
                <!--<td><input type="checkbox"></td>-->
                <td ng-bind="p.router_groups.name"></td>
                <td ng-bind="p.router_groups.category"></td>
                <td ng-bind="p.router_groups.trade_area.province+p.router_groups.trade_area.city+p.router_groups.trade_area.area+p.router_groups.trade_area.name"></td>
                <td ng-bind="p.isonline"></td>
                <td ng-bind="p.mac"></td>
                <td ng-bind="p.create_time"></td>
                <td>
                    <a class="btn btn-xs btn-info" href="javascript:" ng-click="see_router(p.id)">查看</a>
                    <a ng-if="deviceManage.editRouterMenu" class="btn btn-xs btn-info" href="#/main/edit-device?router_id={{ p.id }}">编辑</a>
                    <a ng-if="deviceManage.removeRouterMenu" class="btn btn-xs btn-danger" href="javascript:" ng-click="removeRouter(p.id)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #D9D9D9"></div>
</div>
