<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.eq_management">设备管理</a></li>
        <li><a ui-sref="main.version_manage">版本管理</a></li>
        <li class="active">固件升级</li>
    </ol>

    <div class="eq_m">
        <span class="h2">选择需要升级固件的路由器</span>
        <hr>
        <div class="form-inline">
            <button class="chazhao" ng-click="chazhao()">所有需要升级的路由器</button>
            <button class="chazhao" ng-click="chazhao()">按地区查找</button>
            <button class="chazhao" ng-click="chazhao()">按行业查找</button>
            <button class="chazhao" ng-click="chazhao()">按激活时间查找</button>
            <input class="form-control" style="width: 250px !important;margin-left: 400px" placeholder="请输入关键字搜索">
            <button class="btn btn-primary">搜索</button>
        </div>
    </div>
    <div style="margin-top: 20px">
        <span>数量：</span>
        <span>5</span>
    </div>

    <table class="table table-bordered text-center table-striped" style="margin-top: 20px" id="table-fireware">
        <thead>
        <tr>
            <td>
                <a href="javascript:" ng-click="checkAll()">全选</a>
                <a href="javascript:" ng-click="checkInverse()">反选</a>
            </td>
            <td>MAC码</td>
            <td>入库时间</td>
            <td>商铺名称</td>
            <td>行业</td>
            <td>地区</td>
            <td>版本</td>
            <td>运行状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>XXX</td>
            <td>2015-8-15</td>
            <td>丽锦茶楼</td>
            <td>服务</td>
            <td>锦江区</td>
            <td>V2.0</td>
            <td>正常</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>XXX</td>
            <td>2015-8-15</td>
            <td>丽锦茶楼</td>
            <td>服务</td>
            <td>锦江区</td>
            <td>V2.0</td>
            <td>正常</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>XXX</td>
            <td>2015-8-15</td>
            <td>丽锦茶楼</td>
            <td>服务</td>
            <td>锦江区</td>
            <td>V2.0</td>
            <td>正常</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>XXX</td>
            <td>2015-8-15</td>
            <td>丽锦茶楼</td>
            <td>服务</td>
            <td>锦江区</td>
            <td>V2.0</td>
            <td>正常</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>XXX</td>
            <td>2015-8-15</td>
            <td>丽锦茶楼</td>
            <td>服务</td>
            <td>锦江区</td>
            <td>V2.0</td>
            <td>正常</td>
            <td><a href="">升级</a></td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>XXX</td>
            <td>2015-8-15</td>
            <td>丽锦茶楼</td>
            <td>服务</td>
            <td>锦江区</td>
            <td>V2.0</td>
            <td>正常</td>
            <td><a href="">升级</a></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button class="btn btn-info" ng-click="update()">升级</button>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="margin-top: 20px"></div>
</div>
