<div style="padding: 10px">
    <div class="form-inline">
        <label>收货人:</label>
        <input class="form-control" type="text" value="" placeholder="收货人" ng-model="receiver" ng-change="checkReceiver(receiver)">
    </div>
    <div class="form-inline">
        <label>收货地址:</label>
        <input class="form-control" type="text" value="" placeholder="详细地址">
    </div>
    <div class="form-inline">
        <label>设备列表:</label>
    </div>
    <div class="form-inline">
        <input type="text" class="form-control" value="" placeholder="mac" ng-model="mac">
        <button class="btn btn-info" ng-click="addDeviceToDeliveryList(mac)">添加</button>
    </div>
    <div class="col-md-3">
        <table class="table table-hover table-condensed">
            <tr>
                <td>MAC</td>
                <td>型号</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="">
                <td>123456789123</td>
                <td>x86</td>
                <td>
                    <button class="btn btn-xs btn-danger">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>