<div class="panel_outside row" >
    <ol class="breadcrumb">
        <li class="active">消息中心</li>
    </ol>
    <div>
        <!--<table width="100%" align="center" height="120px" border="1"> -->
        <table class="table table-bordered table-striped table-hover text-left">
            <thead style="background-color: #8a8bc4;color: #fff;">
            <tr>
                <td align="left" width="8%">状态</td>
                <td align="left" width="15%">发布时间</td>
                <td align="left" width="25%">标题</td>
                <td align="left" width="45%">内容概述</td>
                <td align="left" width="7%">详情</td>
            </tr>
            </thead>
            <tr ng-repeat="item in grid.results">
                <td>
                    <label align="center" ng-if="item.read_state == false" style="color: #eb7070; font-size: 12px; vertical-align:middle; ">&nbsp&nbsp&nbsp未读</label>
                    <label align="center" ng-if="item.read_state == true" style="color: #91a0a8; font-size: 12px; vertical-align:middle; ">&nbsp&nbsp&nbsp已读</label>
                </td>
                <td>
                    {{item.create_time | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td>{{(item.title | limitTo: 10) + '……'}}</td>
                <td>{{(item.info | limitTo: 20) + '……'}}</td>
                <td>
                    <a ng-click="see_detail(item.id)" style="cursor: pointer">详情</a>
                </td>
            </tr>
        </table>
        <hr>
    </div>
    <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>
</div>
