<div class="panel_outside row">
    <ol class="breadcrumb">
        <li class="active">基本信息</li>
    </ol>

    <div class="col-md-12 table_inside" style="font-family: '黑体';font-size: 16px">
        <div class="form-horizontal">
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="username" class="col-md-4 form-label text-right">用户名:</label>
                <div class="col-md-8">
                    <span id="username" ng-if="!isEdit" ng-bind="userInfoReadOnly.username"></span>
                    <input style="width: 200px" id="username-model" class="form-control" ng-if="isEdit" ng-model="userInfo.username" placeholder="用户名">
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="business-name" class="col-md-4 form-label text-right">名称:</label>
                <div class="col-md-8">
                    <span id="business-name" ng-if="!isEdit" ng-bind="userInfoReadOnly.name"></span>
                    <input style="width: 200px" class="form-control" ng-if="isEdit" ng-model="userInfo.name" placeholder="名称">
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="role" class="col-md-4 form-label text-right">身份:</label>
                <div class="col-md-8">
                    <span id="role" ng-bind="userInfoReadOnly.role.name"></span>
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="legal_person_name" class="col-md-4 form-label text-right">法人名称:</label>
                <div class="col-md-8">
                    <span id="legal_person_name" ng-bind="userInfoReadOnly.legal_person_name"></span>
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="id-card" class="col-md-4 form-label text-right">身份证:</label>
                <div class="col-md-8">
                    <span id="id-card" ng-bind="userInfoReadOnly.id_card"></span>
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="tel" class="col-md-4 form-label text-right">手机号:</label>
                <div class="col-md-8">
                    <span id="tel" ng-if="!isEdit" ng-bind="userInfoReadOnly.tel"></span>
                    <input style="width: 200px" class="form-control" ng-if="isEdit" ng-model="userInfo.tel" placeholder="手机号">
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="email" class="col-md-4 form-label text-right">邮箱:</label>
                <div class="col-md-8">
                    <span id="email" ng-if="!isEdit" ng-bind="userInfoReadOnly.email"></span>
                    <input style="width: 200px" class="form-control" ng-if="isEdit" ng-model="userInfo.email" placeholder="邮箱">
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="address" class="col-md-4 form-label text-right">地址:</label>
                <div class="col-md-8">
                    <span id="address" ng-bind="userInfoReadOnly.province + ' ' + userInfoReadOnly.city+' '+userInfoReadOnly.area+' '+ userInfoReadOnly.address_additional"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-md-4 form-label text-right" style="line-height: 300px">地图:</label>
                <div class="col-md-8"><div id="lbsMapContainer" style="width: 400px; height: 300px"></div></div>
            </div>
            <div class="col-md-6 text-right" ng-if="!isEdit">
                <button class="button button-royal" ng-click="editInfo()">修改</button>
            </div>
            <div class="col-md-6 text-right" ng-if="isEdit">
                <button class="button button-royal" ng-click="saveInfo(userInfo)">保存</button>
                <button class="button button-royal" ng-click="cancelEditInfo()">取消</button>
            </div>
        </div>
    </div>
    <img src="/img/create_bottom.png" width="100%;" height="20px">
</div>
