<div class="panel_outside row">
    <ol class="breadcrumb">
        <li class="active">基本信息</li>
    </ol>

    <div class="col-xs-12 table_inside" style="font-family: '黑体';font-size: 16px">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-xs-4 text-right control-label">用户名:</label>
                <div class="col-xs-8">
                    <span id="username" ng-if="!isEdit" ng-bind="userInfoReadOnly.username"></span>
                    <input style="width: 200px" id="username-model" class="form-control" ng-if="isEdit" ng-model="userInfo.username" placeholder="用户名">
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>
            <div class="form-group">
                <label class="col-xs-4 text-right control-label">名称:</label>
                <div class="col-xs-8">
                    <label ng-if="!isEdit" ng-bind="userInfoReadOnly.name" class="control-label"></label>
                    <input style="width: 200px" class="form-control" ng-if="isEdit" ng-model="userInfo.name" placeholder="名称">
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right">身份:</label>
                <div class="col-xs-8">
                    <label ng-bind="userInfoReadOnly.role.name" class="control-label"></label>
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right">法人名称:</label>
                <div class="col-xs-8">
                    <label ng-bind="userInfoReadOnly.legal_person_name" class="control-label"></label>
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right">身份证:</label>
                <div class="col-xs-8">
                    <label ng-bind="userInfoReadOnly.id_card" class="control-label"></label>
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right">手机号:</label>
                <div class="col-xs-8">
                    <label ng-if="!isEdit" ng-bind="userInfoReadOnly.tel" class="control-label"></label>
                    <input style="width: 200px" class="form-control" ng-if="isEdit" ng-model="userInfo.tel" placeholder="手机号">
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right">邮箱:</label>
                <div class="col-xs-8">
                    <label ng-if="!isEdit" ng-bind="userInfoReadOnly.email" class="control-label"></label>
                    <input style="width: 200px" class="form-control" ng-if="isEdit" ng-model="userInfo.email" placeholder="邮箱">
                </div>
            </div>
            <div class="form-group" style="border-bottom:1px dashed #dfdbdb;height: 35px">
                <label for="address" class="col-md-4 form-label text-right">地址:</label>
                <div class="col-md-8" ng-if="!isEdit">
                    <span id="address" ng-bind="userInfoReadOnly.province + ' ' + userInfoReadOnly.city+' '+userInfoReadOnly.area+' '+ userInfoReadOnly.address_additional"></span>
                </div>
                <div class="col-md-8" ng-if="isEdit">
                    <select ng-model="userInfo.province" ng-options="p.id as p.name for p in provinces">
                        <option value="">省</option>
                    </select>
                    <select ng-model="userInfo.city" ng-options="c.id as c.name for c in cities">
                        <option value="">市</option>
                    </select>
                    <select ng-model="userInfo.area" ng-options="a.id as a.name for a in areas">
                        <option value="">区</option>
                    </select>
                    <input type="text" ng-model="userInfo.address_additional" placeholder="详细地址">
                </div>
            </div>
            <div style="border-top: 1px dashed #cccccc;margin-bottom: 12px"></div>

            <div class="form-group">
                <label class="col-xs-4 control-label text-right" style="line-height: 300px">地图:</label>
                <div class="col-xs-8"><div id="lbsMapContainer" style="width: 400px; height: 300px"></div></div>
            </div>
            <div class="col-xs-12 text-center" ng-if="!isEdit">
                <button class="button button-royal" ng-click="editInfo()">修改</button>
            </div>
            <div class="col-xs-12 text-center" ng-if="isEdit">
                <button class="button button-royal" ng-click="saveInfo(userInfo)">保存</button>
                <button class="button button-royal" ng-click="cancelEditInfo()">取消</button>
            </div>
        </div>
    </div>
    <img src="/img/create_bottom.png" width="100%" height="20px">
</div>
