<div class="panel_outside row">
    <ol class="breadcrumb" style="background-color: #4edcc6">
        <li class="active">修改密码</li>
    </ol>

    <div class="col-md-12 table_inside">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-1">原密码:</label>
                <div class="col-md-11">
                    <input class="form-control" type="password" style="width: 200px" ng-model="changePwd.oldPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1">新密码:</label>
                <div class="col-md-11">
                    <input class="form-control" type="password" style="width: 200px" ng-model="changePwd.newPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1">新密码:</label>
                <div class="col-md-11">
                    <input class="form-control" type="password" style="width: 200px" ng-model="changePwd.repeatPassword">
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info" ng-click="changePassword()">修改密码</button>
            </div>
        </div>
    </div>
</div>