<div class="table_outside">
    <ol class="breadcrumb" style="background-color: #4edcc6">
        <li class="active">我的广告</li>
    </ol>
    <!--<div>-->
            <!--<div class="form-inline">-->
                <!--<input type="text" ng-model="filter.title__icontains" placeholder="广告标题" class="form-control" style="width: 70%">-->
                <!--<button ng-click="filtering(filter)" class="btn btn-info">查询</button>-->
                <button class="btn btn-info" ui-sref="main.create_ads" style="background-color: #5ae9d5;border-color: #5ae9d5">新建</button>
    <!--</div>-->
        <div class="table_inside">
            <table id="table-wemedia" class="table table-hover table-bordered table-selectable text-center ads_table table-striped">
                <thead style="background-color: #4edcc6;color:#fff">
                <tr>
                    <!--<td>-->
                    <!--<a href="javascript:" ng-click="checkAll()">全选</a>-->
                    <!--<a href="javascript:" ng-click="checkInverse()">反选</a>-->
                    <!--</td>-->
                    <!--<td style="cursor: pointer">-->
                    <!--缩略图-->
                    <!--</td>-->
                    <td id="{{ headers[10] }}" ng-click="sort(headers[10])" style="cursor: pointer">
                        行业类型
                        <span ng-show="currentSort[headers[10]] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort[headers[10]] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                    <td id="{{ headers[5] }}" ng-click="sort(headers[5])" style="cursor: pointer">
                        创建时间
                        <span ng-show="currentSort[headers[5]] === true" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="currentSort[headers[5]] === false"
                              class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                    <td id="{{ headers[6] }}" ng-click="sort(headers[6])" style="cursor: pointer">
                        修改时间
                        <span ng-show="currentSort[headers[6]] === true" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="currentSort[headers[6]] === false"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                    </td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="role=='商户'" ng-repeat="p in grid.results" class="wemedia_table">
                    <!--<td><input type="checkbox"></td>-->
                    <!--<td style="cursor: pointer">-->
                    <!--<div style="width:100px;height:100px">-->
                    <!--{{p.}}-->
                    <!--</div>-->
                    <!--</td>-->
                    <td ng-bind="p.category"></td>
                    <td ng-bind="p.create_time | date:'yyyy-MM-dd hh:mm:ss'"></td>
                    <td ng-bind="p.modified_time | date:'yyyy-MM-dd hh:mm:ss'"></td>
                    <td>
                        <a href="javascript:" ng-click="editAds(p.id)">修改</a>
                        <a href="javascript:" ng-click="deleteAds(p.id)">删除</a>
                        <a href="#/main/put_ad?ad_id={{p.id}}" ng-if="p.audit_status==-1" style="color:blue;">投放</a>
                        <a href="javascript:" ng-if="p.audit_status==0" style="color:red;">审核未通过</a>
                        <a href="javascript:" ng-if="p.audit_status==1" style="color:orangered">审核中……</a>
                        <a href="javascript:" style="color:orangered;"  ng-if="p.audit_status==2" ng-click="putAwayAd(p.audit_id,3)">下架</a>
                        <a href="javascript:" ng-if="p.audit_status==3"  ng-click="putAwayAd(p.audit_id,2)">上架</a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="role!='商户'&& role!='系统管理员'">
                <tr ng-repeat="p in grid.results" class="wemedia_table">
                    <!--<td><input type="checkbox"></td>-->
                    <!--<td style="cursor: pointer">-->
                    <!--<div style="width:100px;height:100px">-->
                    <!--{{p.}}-->
                    <!--</div>-->
                    <!--</td>-->
                    <td ng-bind="p.category"></td>
                    <td ng-bind="p.create_time"></td>
                    <td ng-bind="p.modified_time"></td>
                    <td>
                        <a href="javascript:" ng-click="editAds(p.id)">修改</a>
                        <a href="javascript:" ng-click="deleteAds(p.id)">删除</a>
                        <a href="javascript:" ng-click="dlTouFang(p.id)" ng-if="p.audit_status==-1" style="color:blue;">投放</a>
                        <a href="javascript:" ng-if="p.audit_status==0" style="color:red;">审核未通过</a>
                        <a href="javascript:" ng-if="p.audit_status==1" style="color:orangered">审核中……</a>
                        <a href="javascript:" style="color:orangered;" ng-if="p.audit_status==2" ng-click="putAwayAd(p.audit_id,3)">下架</a>
                        <a href="javascript:" ng-if="p.audit_status==3"  ng-click="putAwayAd(p.audit_id,2)">上架</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>
    </div>
</div>
