<link rel="stylesheet" href="/css/phone_cms.css">
<link rel="stylesheet" href="/bower_components/icon/iconfont.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/component.css">
<link rel="stylesheet" href="/bower_components/jquery-minicolors/jquery.minicolors.css"/>

<ol class="breadcrumb" style="background-color: #1fbba6">
    <li><a ui-sref="main.ads">我的广告</a></li>
    <li class="ad-active"></li>
</ol>
<div class="row main">
    <div class="col-xs-3 left" style="background: none">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">广告功能</div>
            <div class="panel-body component">
                <div class=""   id="dj-text" style="padding:0;" >
                    <i class="icon iconfont">&#xe789;</i>
                    <div>文字</div>
                </div>
                <div></div>
                <div class="" id="dj-img" style="padding:0;" >
                    <i class="icon iconfont">&#xe6d1;</i>
                    <div>图片</div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading text-center">广告设置</div>
            <div class="panel-body">
                <div class="form-group">
                    <span>广告行业：</span>
                    <select class="form-control text-center category" ng-model="ads.id" ng-options="v.id as v.name for v in category">
                    </select>
                </div>
                <div class="text-center">
                    <button class="button button-primary" id="save-ad">保存广告</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-9 right">
        <div class="row">
            <div class="col-xs-6">
                <div class="phone">
                    <div class="phone-page">
                        <!--手机装饰-->
                        <div class="phone-ear">
                            <span class="phone-camera"></span><span class="phone-sound"></span>
                        </div>
                        <!--以下的phone-warp是直接添加到数据库的部分-->
                        <div class="phone-warp">
                            <div class="phone-content">
                                <ul id="drag">
                                </ul>
                                <div class="text-center"><a href="http://www.idianjia.com">店家</a>提供技术支持</div>
                            </div>
                        </div>
                        <div class="phone-button">
                            <div class="circle-button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 editArea">
                <!-- 编辑kuang-->
            </div>
        </div>
    </div>

</div>

</div>
<div class="hidden">
<!--组件模板-->
<div class="template">
    <div class="text">
        <div class="text-content">默认文字</div>
    </div>
    <div class="img">
        <div class="img"><img src="http://7xokyz.com2.z0.glb.qiniucdn.com/AdPortal.jpg"></div>
    </div>
</div>
<!--编辑模板-->
<div class="edit-items">

    <div class="text">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="panel-title"><i class="icon iconfont">&#xe672;</i>文字编辑</span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-6">背景色:<input type="text" class="form-control color wback"></div>
                        <div class="col-xs-6">文字色:<input type="text" class="form-control color wcolor"></div>
                    </div>
                    <div class="">
                        内容:
                        <textarea style="resize:none;" class="form-control txtarea" cols="30" rows="10"></textarea>
                        <p>限输入3000字,你还可以输入<small style="color:red;" class="text-count">3000</small>字</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="img">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;图片编辑</span>
            </div>
            <div class="panel-body">
                <div><label class="button button-primary" for="upload">上传图片</label><input type="file" class="hidden" id="upload" accept="image/jpeg,image/gif,image/png"></div>
                <div>
                    <div class="photoshow" style="display: inline-block;border:solid 1px gray;width:100px;height:100px;line-height: 100px;overflow: hidden">
                        <img id="showImg" src="/img/test2.jpg">
                    </div>

                    <div style="display: inline-block;width:250px;">图片要求:<small>图片大小限制为:2MB以内，建议宽度640px
                        仅支持JPG、PNG格式，建议使用JPG格式</small>
                    </div>
                    <div class="img-cropper" style="display: none;margin-top:5px;width: 100%;height:365px;" >
                    </div>
                </div>
                <div class="btn-group" style="margin-top: 10px;">
                    <div class="col-xs-12">链接方式:</div>
                    <div class="col-xs-12">
                        <input type="radio">外部链接
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <label class="input-group-addon">http://</label><input class="form-control img-link" type="text"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer text-center">
                <button class="button button-caution saveImg">保存图片</button>
            </div>
        </div>
    </div>
</div>
<script src="/bower_components/jquery-dragsort/jquery.dragsort-0.5.2.min.js"></script>
<script src="/bower_components/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="/bower_components/ckeditor/ckeditor.js"></script>
<script src="/bower_components/unslider/src/unslider.min.js"></script>
<script>
    var component=$(".component>div");//组件
    var pageArea=$("");//页面中部展示区
    var editArea=$(".editArea");//编辑区
    var editTemp=$(".editTemp")
    var conmponentItem=$("");
    var haveData='';
    var ourShop=get_param(window.location.href);


    function editText(id,type){
        $('.color').minicolors({
            animationSpeed: 50,
            animationEasing: 'swing',
            change: null,
            changeDelay: 0,
            control: 'hue',
            hide: false,
            hideSpeed: 100,
            inline: false,
            letterCase: 'lowercase',
            opacity: false,
            position: 'bottom left',
            show: null,
            showSpeed: 100,
            theme: 'bootstrap'
        });
        $(document).ready(function(){
            $('div[data-edit-id='+id+']'+' .wback').on('change',function(){
                $("#"+id+" .text-content").css("background",$(this).val());
                console.log($('[data-item-id='+id+']'+' .wback').val());
            });
            $('div[data-edit-id='+id+']'+' .wcolor').on('change',function(){
                $("#"+id+" .text-content").css("color",$(this).val());
                console.log($('[data-item-id='+id+']'+' .wcolor').val());
            });
            $('div[data-edit-id='+id+']'+' .txtarea').attr('id','txtarea');

            CKEDITOR.document.getById( 'txtarea').setHtml(
                    $("#"+id+" .text-content").text()
            );

            CKEDITOR.replace( 'txtarea',{
                toolbar :
                        [
                            ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink']
                        ]
            });
            CKEDITOR.instances["txtarea"].on("instanceReady", function () {
                this.document.on("keyup", function(){
                    validateText();
                });
            });
        });
        function validateText(){
            var numText=CKEDITOR.instances.txtarea.getData();
            var numCounter=numText.length;
            $('div[data-edit-id='+id+']'+' .text-count').text(3000-numCounter);
            $("#"+id+" .text-content").html(numText);
        }
        $(document).ready(function(){
            validateText();
        });
    }
    function isImageFile(file){
        if (file.type) {
            return /^image\/\w+$/.test(file.type);
        } else {
            return /\.(jpg|jpeg|png|gif)$/.test(file);
        }
    }
    function editImg(id,type){
        $('div[data-edit-id='+id+']'+' #showImg').attr('src',$('#'+id+' .img .img img').attr('src'));
        //$('div[data-edit-id='+id+']'+' .img-cropper img').attr('src',$('#'+id+' .img .img img').attr('src'));
        if($('#'+id+' .img>a').attr('href')){
            $('div[data-edit-id='+id+']'+' .img-link').val($('#'+id+' .img a').attr('href').split('//')[1]);
        }
        $('div[data-edit-id='+id+']'+' input[type="file"]').change(function(){
            var files;
            var file;
            var img;
            $('div[data-edit-id='+id+']'+' .img-cropper').css('display','block');
            files = $(this).prop('files');

            if (files.length > 0) {
                file = files[0];

                if (isImageFile(file)) {
                    if (this.url) {
                        URL.revokeObjectURL(this.url); // Revoke the old one
                    }

                    this.url = URL.createObjectURL(file);
                }
            }
            img=$('<img src="'+this.url+'">');
            $('div[data-edit-id='+id+']'+' .img-cropper').html(img);
            img.cropper({
                aspectRatio: 640 / 960
            });
            var imgData;
            $('.saveImg').on('click', function () {
                imgData=img.cropper('getCroppedCanvas', {
                    width:640
                }).toDataURL();
                $('div[data-edit-id='+id+']'+' #showImg').attr('src',imgData);
                //上传图片
                $.post(window.API.CMS.POST_IMG+'?key='+ $.cookie("key").replace(/\"/g,""),{img:imgData}).success(function(data){
                    var imgPostUrl=data.link;
                    var setLink=$('div[data-edit-id='+id+']'+' .img-link').val();
                    console.log(setLink);
                    if(!setLink){
                        setLink='javascript:;';
                    }else{
                        setLink='http://'+setLink;
                    }
                    $('#'+id+' .img .img').html("");
                    $('#'+id+' .img .img').append('<a href="'+setLink+'"><img style="width:100%;" src="'+imgPostUrl+'"></a>');
                });

            });
        });

    }
    function addEditItem(id,type){
        var _edit=$('#'+id+' .edit');
        _edit.on('click',function(){
            $('.editArea *').remove();
            var editItem=$('.edit-items .'+type).html();
            editArea.append('<div class="'+type+'" data-edit-id="'+id+'">'+editItem+'</div>');
            //文字功能
            switch (type){
                case 'text':
                    editText(id,type);
                    break;
                case 'img':
                    editImg(id,type);
                    break;
                default :
                    break;
            }

        });
        $('#'+id+' .delete').on('click',function(){
            if(confirm('点击确认将移除该组件,无法恢复')){
                $('#'+id).remove();
                if($('.editArea .'+type)){
                    $('.editArea .'+type).remove();
                }
                //数组移除id为id的项
            }
        });
    }




    //生成新Id
    function addId(){
        var num=Math.random();
        var newId='d'+''+num.toString().replace(".",'');
        return newId;
    }

    //编辑函数
    function addItem(id,type){
        //            获取组件模板

        if(type=='map'){
            var mapId=addId();
            var mapArea='<div class="map" id="'+mapId+'"></div>'
            var edit='<div class="deledit"><span class="edit">编辑</span><span class="delete">删除</span></div>';
            $('#drag').append('<li data-type="map" class="item-list" id="'+id+'">'+mapArea+edit+'</li>');
            bbmap(mapId,user.j,user.w);
        }else{
            var itemTemp=$('.template .'+type).html();
            var edit='<div class="deledit"><span class="edit">编辑</span><span class="delete">删除</span></div>';
            $('#drag').append('<li class="item-list" data-type="'+type+'" id="'+id+'"><div class="'+type+'">'+itemTemp+edit+'</div></li>');
        }

        switch(type){
            case 'text':
                addEditItem(id,type);
                break;
            case 'img':
                addEditItem(id,type);
                break;
            default:
                break;
        }

    }
    if(isNaN(ourShop)){
//        新建
        $('.ad-active').text('新建广告');
        $('#save-ad').click(function(){
            var component=$('.item-list');
            var length=component.length;
            var items=[];
            console.log(items+'----');
            for(var i=0;i<length;i++){
                console.log($(component[i]).prop("outerHTML"));
                items.push({'component_id':$(component[i]).attr("id"),'content_type':$(component[i]).attr("data-type"),'div':$(component[i]).prop("outerHTML")});

            }
            console.log(items);
//            $.post('http://192.168.10.200/api/cms/new_cms/?key=ee60934d-2838-4892-b1d9-6a630b993f13',{'items':items},{"dataType":"json"});
            $.ajax({
                url:window.API.AD.NEW_AD+'?key='+ $.cookie("key").replace(/\"/g,""),
                type:"POST",
                "dataType":"json",
                'contentType':'application/json;charset=utf-8',
                "data":JSON.stringify({"category_id":$(".category").val().split(':')[1],"items":items}),
                success:function (data) {
                    alert('上传成功');
                }
            });

        });

    }else{
        $('.ad-active').text('编辑广告');
//        带了ID表示编辑  http://host:port/api/ads/get_ad_info/?key=token&id=1
        $.get(window.API.AD.GET_AD_INFO+'?key='+ $.cookie("key").replace(/\"/g,"")+'&id='+ourShop).success(function(data){
            console.log(data);
            $(".category").val('number:'+data.category_id);
            for (var i = 0; i < data.cms_ids.length; i++) {
                for (var j = 0; j <= data.cms.length; j++) {
                    if (data.cms[j].component_id == data.cms_ids[i]) {
                        $('#drag').append(data.cms[j].div);
                        switch (data.cms[j].content_type) {
                            case 'text':
                                addEditItem(data.cms[j].component_id, data.cms[j].content_type);
                                break;
                            case 'img':
                                addEditItem(data.cms[j].component_id, data.cms[j].content_type);
                                break;
                        }
                        break;
                    }
                }
            }
        });

        $('#save-ad').click(function(){
            var component=$('.item-list');
            var length=component.length;
            var items=[];
            console.log(items+'----');
            for(var i=0;i<length;i++){
                console.log($(component[i]).prop("outerHTML"));
                items.push({'component_id':$(component[i]).attr("id"),'content_type':$(component[i]).attr("data-type"),'div':$(component[i]).prop("outerHTML")});

            }
            console.log(items);
//            $.post('http://192.168.10.200/api/cms/new_cms/?key=ee60934d-2838-4892-b1d9-6a630b993f13',{'items':items},{"dataType":"json"});
            $.ajax({
                url:window.API.AD.EDIT_AD+'?key='+ $.cookie("key").replace(/\"/g,"")+'&id='+ourShop,
                type:"PUT",
                "dataType":"json",
                'contentType':'application/json;charset=utf-8',
                "data":JSON.stringify({"category_id":$(".category").val().split(':')[1],"items":items}),
                success:function (data) {
                    alert('更新成功');
                }
            });
        });
    }
    //组件添加先做成点击添加咯，后面再改成拖动吧^_^
    component.on('click',function(){
        var _this=$(this);
        var componentId=_this.attr('id');
        //判断是否存在ID,不存在ID的表示功能暂时未添加
        if(componentId){
            var id=addId();
            var thisType=componentId.split('-')[1];
            addItem(id,thisType);
        }else{
            alert('组件正在开发中,感谢使用！');
        }
        console.log(thisType+'组件的ID为:'+id);
    });



    $('.saveImg').click(function(){
        //var URL='http://192.168.10.200/api/resources/new_img_resource/?key='+user.userId;
        var imgData=$('.dod2 > img').cropper('getCroppedCanvas', {
            width:640
        }).toDataURL();
        $.post(URL,{img:imgData}).success(function(data){
            console.log(data);
            var imgUrl=data.link;
            $('#drag').append('<li><a href="'+imgUrl+'"><img style="width:100%;" src="'+imgUrl+'"></a></li>');
            $('#showImg').attr('src',imgUrl);
        });
        alert('点击了额');

    });
    $('#drag').dragsort({
        dragSelector: "li",
        dragBetween: true,
        dragEnd: function(){
        },
        placeHolderTemplate: "<li><div class='placeHolder'>松开手放到此处</div></li>",
        scrollSpeed: 5
    });
</script>