<link rel="stylesheet" href="/css/phone_cms.css">
<link rel="stylesheet" href="/bower_components/icon/iconfont.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/component.css">
<link rel="stylesheet" href="/css/ads/idangerous.swiper.css">
<link rel="stylesheet" href="/bower_components/jquery-minicolors/jquery.minicolors.css"/>
<style>
    #drag a {
        pointer-events: none;
    }
</style>
<ol class="breadcrumb" style="background-color: #1fbba6">
    <li><a ui-sref="main.ads">我的广告</a></li>
    <li class="ad-active"></li>


</ol>
<div class="row main">
    <div class="col-xs-3 left" style="background: none">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">广告设置</div>
            <div class="panel-body">
                <div>
                    广告名:<input class="form-control" id="ad_title" type="text" required="required" placeholder="请设置广告名称">
                </div>
                <div class="form-group">
                    <span>广告行业：</span>
                    <select class="form-control text-center category" ng-model="ads.id"
                            ng-options="v.id as v.name for v in category">
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading text-center">广告功能</div>
            <div class="panel-body component">
                <div class="" id="dj-text" style="padding:0;">
                    <i class="fa fa-text-width fa-2x"></i>

                    <div>文字</div>
                </div>
                <div class="" id="dj-img" style="padding:0;">
                    <i class="fa fa-image fa-2x"></i>

                    <div>图片</div>
                </div>
                <div class="" id="dj-slider" style="padding:0;">
                    <i class="fa fa-toggle-right fa-2x"></i>

                    <div>幻灯片</div>
                </div>
                <!--<div class="" id="dj-picmenu" style="padding:0;">-->
                    <!--<i class="fa fa-th-large fa-2x"></i>-->

                    <!--<div>图片菜单</div>-->
                <!--</div>-->

            </div>
        </div>

        <div class=" text-center" style="margin-top:100px;">
            <button class="button button-primary" id="save-ad">保存广告</button>
        </div>
    </div>
    <div class="col-xs-9 right">
        <div class="row">
            <div class="col-xs-6">
                <div class="phone">
                    <div class="phone-page">
                        <!--手机装饰-->
                        <!--<div class="phone-ear">-->
                            <!--<span class="phone-camera"></span><span class="phone-sound"></span>-->
                        <!--</div>-->
                        <!--以下的phone-warp是直接添加到数据库的部分-->
                        <div class="phone-warp">
                            <div class="phone-content">
                                <ul id="drag">
                                </ul>
                                <div class="text-center"><a href="http://www.idianjia.com">店家网络</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="phone-button">
                        <div>免费上网</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 editArea">
                <!-- 编辑kuang-->
            </div>
        </div>
    </div>

</div>
<div id="slider-edit-img"  class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<div id="slider-edit-img0"  class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<div id="slider-edit-img1"  class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<div id="slider-edit-img2"  class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <!--组件模板-->
    <div class="template">
        <div class="text">
            <div class="text-content">默认文字</div>
        </div>
        <div class="img">
            <div class="img"><img src="http://7xokyz.com2.z0.glb.qiniucdn.com/AdPortal.jpg"></div>
        </div>

        <div class="slider">
            <div data-type="sliders" class="swiper-container">
                <div class="swiper-wrapper">
                    请点击编辑添加图片
                </div>
                <div class="pagination" style="z-index:9999"></div>
            </div>
        </div>
        <div class="picmenu">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
        </div>
    </div>
    <!--编辑模板-->
    <div class="edit-items">

        <div class="text">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>文字编辑</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-6">背景色:<input type="text" class="form-control color wback"></div>
                            <div class="col-xs-6">文字色:<input type="text" class="form-control color wcolor"></div>
                        </div>
                        <div class="">
                            内容:
                            <textarea style="resize:none;" class="form-control txtarea" cols="30" rows="10"></textarea>

                            <p>限输入3000字,你还可以输入
                                <small style="color:red;" class="text-count">3000</small>
                                字
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="img">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;图片编辑</span>
                </div>
                <div class="panel-body">
                    <div><label class="button button-primary" for="upload">上传图片</label><input type="file" class="hidden" id="upload"  accept="image/jpeg,image/gif,image/png">
                    </div>
                    <div>
                        <div class="photoshow"
                             style="display: inline-block;border:solid 1px gray;width:100px;height:100px;line-height: 100px;overflow: hidden">
                            <img id="showImg" src="">
                        </div>

                        <div style="display: inline-block;width:250px;">图片要求:
                            <small>图片大小限制为:2MB以内，建议宽度640px
                                仅支持JPG、PNG格式，建议使用JPG格式
                            </small>
                        </div>
                        <div class="img-cropper" style="display: none;margin-top:5px;width: 100%;height:365px;">
                        </div>
                    </div>
                    <div class="btn-group" style="margin-top: 10px;">
                        <div class="col-xs-12">链接方式:</div>
                        <div class="col-xs-12">
                            <input type="radio">外部链接
                        </div>
                        <div class="col-xs-12">
                            <div class="input-group">
                                <label class="input-group-addon">http://</label><input class="form-control img-link"
                                                                                       type="text"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button class="button button-caution saveImg">保存图片</button>
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;幻灯片编辑</span>
                </div>
                <div class="panel-body">
                    <div>上传设置: 限制3张图片，建议尺寸640*300，仅支持jpg、png格式</div>
                    <div class="img-edit-box-show">
                        <p>第一张图片</p>
                        <div class="edit0">
                            <label for="upload-img0" class="button button-primary" data-toggle="modal" data-target>上传图片</label>
                            <input id="upload-img0" class="hidden" type="file">
                        </div>
                        <p>第二张图片</p>
                        <div class="edit1">
                            <label for="upload-img1" class="button button-primary" data-toggle="modal" data-target>上传图片</label>
                            <input id="upload-img1" class="hidden" type="file">
                        </div>
                        <p>第三张图片</p>
                        <div class="edit2">
                            <label for="upload-img2" class="button button-primary" data-toggle="modal" data-target>上传图片</label>
                            <input id="upload-img2" class="hidden" type="file">
                        </div>
                    </div>
                    <div class="text-center" style="padding:10px 0 10px 0">
                        <button id="enter" class="button button-primary">确认添加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="picmenu">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="icon iconfont">&#xe672;</i>&nbsp;图片菜单编辑</span>
                </div>
                <div class="panel-body">
                   <div class="pic-menu-box">
                        <div class="edit0"></div>
                       <div class="edit1"><img src="" alt=""></div>
                       <div class="edit2"><img src="" alt=""></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/bower_components/jquery-dragsort/jquery.dragsort-0.5.2.min.js"></script>
<script src="/bower_components/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="/bower_components/ckeditor/ckeditor.js"></script>
<script src="/bower_components/unslider/src/unslider.min.js"></script>
<script src="/js/swipe.min.js"></script>
<script src="/js/ads/ads.js"></script>