<div class="table_outside">
    <ol class="breadcrumb">
        <li><a ui-sref="main.ads">我的广告</a></li>
        <li class="active">投放广告</li>
    </ol>
    <div style="margin-top:50px">
        <div class="form-inline">

            <div class="col-md-12 form-horizontal">
                <label class="col-md-1">商户:</label>

                <div class="form-group col-md-11 business">
                    <label ng-repeat="b in subBusinesses">
                        <input type="checkbox" value="{{ b.id }}">
                        <span ng-bind="b.name"></span>&nbsp;&nbsp;
                    </label>
                </div>
            </div>

            <div class="col-md-12 form-horizontal">
                <label class="col-md-1">行业:</label>

                <div class="form-group col-md-11">
                    <label ng-repeat="c in categories">
                        <input type="checkbox" value="{{ c.name }}">
                        <span ng-bind="c.name"></span>&nbsp;&nbsp;
                    </label>
                </div>
            </div>


            <div class="col-md-12">
                <button class="btn btn-info col-md-offset-1 col-md-4" ng-click="routerSearch()">筛　　选</button>
                <button class="btn btn-info col-md-offset-1 col-md-4" ng-click="sjTouFang()">确认投放</button>
            </div>

        </div>

        <div class="table_inside" style="margin-top: 20px;">
            <div class="col-md-5">
                <label>共<span ng-bind="grid.total"></span>台路由器</label>
            </div>
            <table id="table-ad" class="table table-hover table-bordered table-selectable text-center ads_table">
                <thead>
                <tr>
                    <td>路由器名称</td>
                    <td>路由器MAC</td>
                    <td>所属商铺</td>
                    <td>是否在线</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in grid.results" class="wemedia_table">
                    <td ng-bind="p.ssid"></td>
                    <td ng-bind="p.mac"></td>
                    <td ng-bind="p.router_groups.name"></td>
                    <td>
                        <span ng-if="p.is_online">在线</span>
                        <span ng-if="!p.is_online">离线</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-include="'/template/partial/pagination.html'" style="height: 50px;background-color: #f4f4f6"></div>
    </div>
</div>



