<style>
    .font-style{
        /*font-size:30px;*/
        font-family: '微软雅黑' , Arial, Helvetica, Verdana;
    }
    .BigFont{
        font-size:30px;
        font-family: '微软雅黑' , Arial, Helvetica, Verdana;
    }
</style>
<div style="margin-top:150px;" class="panel_outside ng-scope col-xs-12">
    <div class="col-xs-1"></div>
    <div class="col-xs-10" style="margin-top:70px;margin-bottom: 70px;">
        <div class="col-xs-4">
            <label class="font-style">
                账户余额：
            </label>
            <label class="BigFont" ng-bind="grid.balance | currency: '￥'">

            </label>
            <span style="margin-left: 20px;" class="font-style">
                元
            </span>
        </div>
        <div class="col-xs-4">
            <span style="">
                <a href="#/main/ad-flow-agent-income-withdraw" class="btn btn-primary" style="width: 100px;margin-left: 20px;">提现</a>
            </span>
        </div>
        <div class="col-xs-4">
            <label class="font-style">
                至今为止总共提现金额：
            </label>
            <label class="BigFont" ng-bind="grid.withdraw_cash | currency: '￥'" >

            </label>
            <span style="margin-left: 20px;" class="font-style">
                元
            </span>
        </div>
    </div>
    <div class="col-xs-1">
    </div>
</div>