<div style="padding:10px">
    <ol class="breadcrumb">
        <li><a ui-sref="main.agent_manage">代理商管理</a></li>
        <li class="active">新增代理商账号</li>
    </ol>

    <div style="padding-left:35%" class="agent_message">
        <p class="h3" style="margin-left: -100px">个人信息</p>

        <div class="form-inline" style="margin-top: 15px">
            <span>登录账号：</span>
            <input class="form-control" type="text" style="margin-left: 14px" ng-model="agent.tel"id="tel" placeholder="手机号码">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>登录密码：</span>
            <input class="form-control" type="password" style="margin-left: 14px" ng-model="pass">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>确认密码：</span>
            <input class="form-control" type="password" style="margin-left: 14px" ng-model="agent.password" ng-blur="check_password()">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>姓名：</span>
            <input class="form-control" type="text" style="margin-left: 42px" ng-model="agent.legal_person_name">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>身份证号：</span>
            <input class="form-control" type="text" style="margin-left: 14px"  ng-model="agent.id_card">
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>代理商级别：</span>
            <select class="form-control" ng-options="v.id as v.name for v in agent_grade" ng-model="agent.role" style="width: 196px" ng-change="is_business(agent.role)">
            </select>
        </div>
        <div class="form-inline" style="margin-top: 15px">
            <span>居住地址：</span>
            <select class="form-control" style="margin-left: 14px;width:196px" ng-options="v.id as v.name for v in province1" ng-model="agent.province_live" ng-change="select_p(agent.province_live)">
                <option value="">省</option>
            </select>
            <select class="form-control" style="width: 196px" ng-options="v.id as v.name for v in city1" ng-model="agent.city_live" ng-change="select_c(agent.city_live)">
                <option value="">市</option>
            </select>
            <select class="form-control" style="width: 196px" ng-options="v.id as v.name for v in area1" ng-model="agent.area_live">
                <option value="">区/县</option>
            </select>
            <input class="form-control" type="text"  ng-model="agent.address_additional" placeholder="街道地址">
        </div>

        <div class="form-inline" style="margin-top: 15px" ng-hide="area_manage">
            <span>管辖区域：</span>
            <select class="form-control" style="margin-left: 14px;width:196px" ng-options="v.id as v.name for v in province1" ng-model="agent.province" ng-change="select_p(agent.province)">
                <option value="">省</option>
            </select>
            <select class="form-control" style="width: 196px" ng-options="v.id as v.name for v in city1" ng-model="agent.city" ng-change="select_c(agent.city)">
                <option value="">市</option>
            </select>
            <select class="form-control" style="width: 196px" ng-options="v.id as v.name for v in area1" ng-model="agent.area">
                <option value="">区/县</option>
            </select>
        </div>

        <p class="h3" style="margin-left: -100px">公司信息</p>

        <div class="form-inline" style="margin-top: 15px">
            <span>公司名称：</span>
            <input class="form-control" type="text" style="margin-left: 14px" placeholder="可填"  ng-model="agent.name">
        </div>
        <button class="btn btn-success " style="margin: 20px 0 0 150px;width: 100px" ng-click="submit()">提交</button>
    </div>
</div>