<div ng-controller="TopController" style="background-color: #181e2c">
        <div style="width: 33.3%;float:left" class="header">
                <div style="width:12px;height:12px;border-radius:50px;background-color: #fe5722;float:left;margin: 25px 0 0 50px;"></div>
                <div style="width:12px;height:12px;border-radius:50px;background-color: #FCB322;float:left;margin: 25px 0 0 5px"></div>
                <div style="width:12px;height:12px;border-radius:50px;background-color: #1fb5ad;float:left;margin: 25px 0 0 5px"></div>
        </div>
        <div style="width: 33.3%;float:left" class="header text-center">
            <p style="color: #fff;font-family:Microsoft YaHei;margin-top: 18px;font-size: 20px">云平台3.0管理系统</p>
        </div>
        <div class="header text-right" style="width: 33.3%;float:left">
            <i class="glyphicon glyphicon-bell"><span class="badge" style="background-color: #FCB322;margin-top: -25px;margin-left: -15px">42</span></i>
            <i class="glyphicon glyphicon-envelope"><span class="badge" style="background-color: #fe5722;margin-top: -25px;margin-left: -10px">42</span></i>
            <i class="glyphicon glyphicon-tasks"><span class="badge" style="background-color: #A9D86E;margin-top: -25px;margin-left: -10px">42</span></i>
            <img src="/img/face.png"><span class="badge" style="background-color: #fe5722;margin-top: -35px;margin-left: -70px">2</span>
            <i class="glyphicon glyphicon-off" ng-click="logout()" style="margin-left: 20px"></i>
        </div>
</div>