<div ng-controller="TopController" style="background-color: #2DC2E8;position: fixed;width: 100%;z-index: 999">
    <div class="header">
        <img src="/img/login_logo.png">
        <p>云平台3.0系统</p>
    </div>
    <div class="header">
    </div>
    <div class="header text-right">
        <span ng-click="goToMsgList()">
            <i ng-if="show_bell" ng-model="unread_count" class="glyphicon glyphicon-bell" style="font-size: 20px;position: relative;top:7px;">
                <a ng-if="unread_count > 0" id="unread_count_label" style="text-decoration:none; margin-left: -15px;color:#a85141;font-size: 12px;">{{unread_count}}</a>
            </i>
        </span>
        <span ng-click="logout()"><i class="glyphicon glyphicon-off" style="font-size: 20px;position: relative;top:7px"></i></span>
    </div>
</div>